
@font-face {
  font-family: 'GraphikLCTT';
  src: url('../fonts/GraphikLCTT-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/GraphikLCTT-Regular.woff') format('woff'), url('../fonts/GraphikLCTT-Regular.ttf')  format('truetype'), url('../fonts/GraphikLCTT-Regular.svg#GraphikLCTT-Regular') format('svg');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikLCTT';
  src: url('../fonts/GraphikLCTT-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GraphikLCTT-Semibold.woff') format('woff'), url('../fonts/GraphikLCTT-Semibold.ttf')  format('truetype'), url('../fonts/GraphikLCTT-Semibold.svg#GraphikLCTT-Semibold') format('svg');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Bold.woff') format('woff'), url('../fonts/SFProDisplay-Bold.ttf')  format('truetype'), url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Medium.woff') format('woff'), url('../fonts/SFProDisplay-Medium.ttf')  format('truetype'), url('../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Regular.woff') format('woff'), url('../fonts/SFProDisplay-Regular.ttf')  format('truetype'), url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFProDisplay-Semibold.woff') format('woff'), url('../fonts/SFProDisplay-Semibold.ttf')  format('truetype'), url('../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
