<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('build/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}{{ 'header_logotype'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">  
            <header id="header">
                <div class="container">
                    <a href="/" class="logo">{{ 'header_logotype'|trans }}</a>
                    <nav id="navigation">
                        <ul class="menu">
                            <li>
                                <span class="has-drop">{{ 'link_product'|trans }}</span>
                                <ul>
                                    <li {% if app.request.get('_route') == 'product_for_developers_page' %} class="active"{% endif %}><a href="{{ path('product_for_developers_page') }}">{{ 'sublink_product_link_for_developers'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'product_for_managers_page' %} class="active"{% endif %}><a href="{{ path('product_for_managers_page') }}">{{ 'sublink_product_link_for_managers'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'product_for_translators_page' %} class="active"{% endif %}><a href="{{ path('product_for_translators_page') }}">{{ 'sublink_product_link_for_translators'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'integrations' %} class="active"{% endif %}><a href="{{ path('integrations') }}">{{ 'sublink_product_link_integrations'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'security_page' %} class="active"{% endif %}><a href="{{ path('security_page') }}">{{ 'sublink_product_link_security'|trans }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="has-drop">{{ 'link_why'|trans }}</span>
                                <ul>
                                    <li {% if app.request.get('_route') == 'collaborative_translation' %} class="active"{% endif %}><a href="{{ path('collaborative_translation') }}">{{ 'sublink_why_link_collaborative_translation'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'localization_workflow_management' %} class="active"{% endif %}><a href="{{ path('localization_workflow_management') }}">{{ 'sublink_why_link_localization_workflow_management'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'process_automation' %} class="active"{% endif %}><a href="{{ path('process_automation') }}">{{ 'sublink_why_link_process_automation'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'quality_assurance' %} class="active"{% endif %}><a href="{{ path('quality_assurance') }}">{{ 'sublink_why_link_quality_assurance'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'in_context_editing' %} class="active"{% endif %}><a href="{{ path('in_context_editing') }}">{{ 'sublink_why_link_in_context_editing'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'deliver_to_end_users' %} class="active"{% endif %}><a href="{{ path('deliver_to_end_users') }}">{{ 'sublink_why_link_deliver_to_end_users'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'support_ticket_and_chat_translation' %} class="active"{% endif %}><a href="{{ path('support_ticket_and_chat_translation') }}">{{ 'sublink_why_link_support_ticket_and_chat_translation'|trans }}</a></li>
                                    <li {% if app.request.get('_route') == 'professional_translation_services' %} class="active"{% endif %}><a href="{{ path('professional_translation_services') }}">{{ 'sublink_why_link_professional_translation_services'|trans }}</a></li>
                                </ul>
                            </li>
                            <li {% if app.request.get('_route') == 'pricing' %} class="active"{% endif %}><a href="{{ path('pricing') }}">{{ 'link_pricing'|trans }}</a></li>
                            <li {% if app.request.get('_route') == 'case_studies' %} class="active"{% endif %}><a href="{{ path('case_studies') }}">{{ 'link_case'|trans }}</a></li>
                            <li>
                                <span class="has-drop">{{ 'link_docs'|trans }}</span>
                                <ul>
                                    <li><a href="#">{{ 'sublink_docs_link_documentaiton'|trans }}</a></li>
                                    <li><a href="#">{{ 'sublink_docs_link_tool'|trans }}</a></li>
                                    <li><a href="#">{{ 'sublink_docs_link_api'|trans }}</a></li>
                                    <li><a href="#">{{ 'sublink_docs_link_sdk'|trans }}</a></li>
                                    <li><a href="#">{{ 'sublink_docs_link_blog'|trans }}</a></li>
                                    <li><a href="#">{{ 'sublink_docs_link_tutorials'|trans }}</a></li>
                                    <li><a href="#">{{ 'sublink_docs_link_product_updates'|trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="user-menu">
                            <li><a href="{{ path('login_page') }}" class="btn">{{ 'link_login'|trans }}</a></li>
                            <li><a href="{{ path('signup_page') }}" class="btn-primary">{{ 'link_try'|trans }}</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="mb-burger"><span>menu</span></a>
                </div> 
            </header>
            <main id="main">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </main>
            <footer id="footer">
                <div class="container">
                    <div class="columns">
                        <div class="col">
                            <strong class="title">{{ 'footer_title'|trans }}</strong>
                            <div class="frame">
                                <img src="/" data-src="{{asset('build/frame.png')}}" alt="{{ 'footer_title'|trans }}">
                            </div>
                            <p class="case">{{ 'footer_case'|trans }}</p>
                        </div>
                        <div class="col">
                            <nav class="footer-nav">
                                <ul>
                                    <li>
                                        {{ 'footer_link_product'|trans }}
                                        <ul>
                                            <li {% if app.request.get('_route') == 'features_page' %} class="active"{% endif %}><a href="{{ path('features_page') }}">{{ 'footer_sublink_product_features'|trans }}</a></li>
                                            <li {% if app.request.get('_route') == 'integrations' %} class="active"{% endif %}><a href="{{ path('integrations') }}">{{ 'footer_sublink_product_integrations'|trans }}</a></li>
                                            <li {% if app.request.get('_route') == 'security_page' %} class="active"{% endif %}><a href="{{ path('security_page') }}">{{ 'footer_sublink_product_security'|trans }}</a></li>
                                            <li {% if app.request.get('_route') == 'product_for_developers_page' %} class="active"{% endif %}><a href="{{ path('product_for_developers_page') }}">{{ 'footer_sublink_product_for_developers'|trans }}</a></li>
                                            <li {% if app.request.get('_route') == 'product_for_managers_page' %} class="active"{% endif %}><a href="{{ path('product_for_managers_page') }}">{{ 'footer_sublink_product_for_managers'|trans }}</a></li>
                                            <li {% if app.request.get('_route') == 'product_for_translators_page' %} class="active"{% endif %}><a href="{{ path('product_for_translators_page') }}">{{ 'footer_sublink_product_for_translators'|trans }}</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        {{ 'footer_link_support'|trans }}
                                        <ul>
                                            <li><a href="#">{{ 'footer_sublink_support_contact'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_documentation'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_status'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_feature_requests'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_product_updates'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_cli'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_api'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_sdk'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_support_supported_file_formats'|trans }}</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        {{ 'footer_link_company'|trans }}
                                        <ul>
                                            <li><a href="{{ path('team_page') }}">{{ 'footer_sublink_company_about'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_company_blog'|trans }}</a></li>
                                            <li {% if app.request.get('_route') == 'careers_page' %} class="active"{% endif %}><a href="{{ path('careers_page') }}">{{ 'footer_sublink_company_careers'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_company_case_studies'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_company_media_kit'|trans }}</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        {{ 'footer_link_legal'|trans }}
                                        <ul>
                                            <li {% if app.request.get('_route') == 'legal' %} class="active"{% endif %}><a href="{{ path('legal') }}">{{ 'footer_sublink_legal_terms_of_service'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_legal_privacy_policy'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_legal_security_policy'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_legal_cookies_policy'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_legal_dpa'|trans }}</a></li>
                                            <li><a href="#">{{ 'footer_sublink_legal_gdpr'|trans }}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="holder">
                        <div class="logo-holder">
                            <strong class="logo"><a href="/">{{ 'header_logotype'|trans }}</a></strong>
                            <em class="slogan">{{ 'footer_slogan'|trans|raw }}</em>
                        </div>
                        <span class="copyright">{{ 'footer_copyright'|trans|raw }}</span>
                    </div>
                </div>
            </footer>
        </div>
        <div class="cookie-popup">
            <a href="#" class="close"></a>
            <p>{{ 'cookie_popup_text'|trans|raw }}</p>
        </div>
       
        
       <script src="{{ asset('/build/jquery-1.10.2.min.js') }}"></script>
       <script src="{{ asset('/build/swiper.min.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
