{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'careers_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <picture class="image mb-order-1">
            <data-src srcset="{{asset('build/promo_09.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_09@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_09.png')}}" alt="{{ 'careers_promo_title'|trans }}">
        </picture>
        <h1>{{ 'careers_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'careers_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="#" class="btn-primary btn-large">{{ 'careers_promo_btn'|trans }}</a></li>
            </ul>
        </div> 
    </section>
    <section class="full-width-image">
        <picture>
            <data-src srcset="{{asset('build/img_39.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/img_39@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/img_39.jpg')}}" alt="{{ 'careers_promo_title'|trans }}">
        </picture>
    </section>
    <section class="text-block">
        <h2 class="align-center">{{ 'careers_text_block_1_title'|trans|raw }}</h2>
        <div class="text-columns">
            <div class="col">
                <p>{{ 'careers_text_block_1_text_1'|trans|raw }}</p>
            </div>
            <div class="col">
                <p>{{ 'careers_text_block_1_text_2'|trans|raw }}</p>
            </div>  
        </div>
    </section>
    <section class="values bg-emptiness">
        <picture class="image">
            <data-src srcset="{{asset('build/img_40.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/img_40@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/img_40.png')}}" alt="{{ 'careers_values_title'|trans }}">
        </picture>
        <div class="text">
            <h2>{{ 'careers_values_title'|trans }}</h2>
            <p>{{ 'careers_values_text'|trans|raw }}</p>
        </div>
    </section> 
    <section class="text-block">
        <h2 class="align-center">{{ 'careers_text_block_2_title'|trans|raw }}</h2>
        <p class="align-center">{{ 'careers_text_block_2_text_1'|trans|raw }}</p>
        <div class="text-columns">
            <div class="col">
                <p>{{ 'careers_text_block_2_text_2'|trans|raw }}</p>
            </div>
            <div class="col">
                <p>{{ 'careers_text_block_2_text_3'|trans|raw }}</p>
            </div>  
        </div>
        <div class="text-columns">
            <div class="col">
                <p>{{ 'careers_text_block_2_text_4'|trans|raw }}</p>
            </div>
            <div class="col">
                <p>{{ 'careers_text_block_2_text_5'|trans|raw }}</p>
            </div>  
        </div>
    </section>
    <section class="careers-list">
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_1_title'|trans }}</strong>
                <p>{{ 'careers_list_item_1_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_2_title'|trans }}</strong>
                <p>{{ 'careers_list_item_2_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_3_title'|trans }}</strong>
                <p>{{ 'careers_list_item_3_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_4_title'|trans }}</strong>
                <p>{{ 'careers_list_item_4_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_5_title'|trans }}</strong>
                <p>{{ 'careers_list_item_5_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_6_title'|trans }}</strong>
                <p>{{ 'careers_list_item_6_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_7_title'|trans }}</strong>
                <p>{{ 'careers_list_item_7_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_8_title'|trans }}</strong>
                <p>{{ 'careers_list_item_8_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <strong class="title">{{ 'careers_list_item_9_title'|trans }}</strong>
                <p>{{ 'careers_list_item_9_text'|trans }}</p>
            </div>
            <div class="link">
                <a href="#">{{ 'careers_list_btn_apply'|trans }}</a>
            </div>
        </div>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}