{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'case_studies_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section class="posts">
        <article class="post large-post">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <h2>{{ 'case_studies_post_1_title'|trans }}</h2>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_01.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_01@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_01.jpg')}}" alt="{{ 'case_studies_post_1_head'|trans }}">
                </picture>
            </div>
        </article>
    </section>
    <section class="used-integrations">
        <h4>{{ 'used_integrations_title'|trans }}</h4>
        <ul class="usage-list">
            <li>
                <span class="icon"><img src="{{ asset('build/icon_airtable.svg') }}" alt="Airtable"></span>
                Airtable
            </li>
            <li>
                 <span class="icon"><img src="{{ asset('build/icon_google_drive.svg') }}" alt="Google Drive"></span>
                Google Drive
            </li>
            <li>
                 <span class="icon"><img src="{{ asset('build/icon_asana.svg') }}" alt="Asana"></span>
                Asana
            </li>
            <li>
                 <span class="icon"><img src="{{ asset('build/icon_outlook.svg') }}" alt="Microsoft Outlook"></span>
                Microsoft Outlook
            </li>
        </ul>
    </section>
    <section class="try-now small">
        <h1>{{ 'try_title'|trans }}</h1>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
        <a href="#" class="btn btn-large">{{ 'book_link'|trans }}</a>
    </section>
    <section class="simple-text-block">
        <h3>Problem</h3> 
        <p>In a context of strong growth, Lucca faced 3 major localization problems: <br>Day to day management of translations lacked fluidity and generated errors. A simple text update required updating a spreadsheet, creating a Jira ticket and asking a developer to update the text, then checking if the update was successful. The developer had to create a branch with the modification. This process was error-prone, as the spreadsheet was not always up to date, resulting in old translations replacing more recent ones.</p>
        <div class="image">
            <picture>
                <data-src srcset="{{asset('build/img_38.jpg')}}" media="(max-width: 768px)"></data-src>
                <data-src srcset="{{asset('build/img_38@2x.jpg')}} 2x"></data-src>
                <data-img src="{{asset('build/img_38.jpg')}}" alt="Problem">
            </picture>
        </div>
        <p>New modules have to be translated, but the translations came from spreadsheets. External or internal translators were copypasting the translations into the main spreadsheets with risks of errors. In addition, external translators had to be guided all the time.</p>
        <p>Adding a new language was a cumbersome operation, as translations for the whole app were split in 80+ spreadsheets. This resulted in new language requests being postponed until an unknown date.</p>
    </section>
    <section class="review bg-emptiness">
        <blockquote>
            <p>{{ 'blockquote_1_text'|trans }}</p>
            <footer>{{ 'blockqoute_1_author'|trans|raw }}</footer>
        </blockquote>
    </section>
     <section class="simple-text-block">
        <h3>Improving transparency across the company with channels</h3> 
        <p>The Lucca team felt that they need to establish a continuous and agile localization process. They have begun their search using "Software Internationalization" and "Translation Management System" keywords. After testing about 16 different TMS, Lucca gave their preference to Lokalise. REST API allowed Lucca to easily integrate Lokalse with their code, while clear and intuitive user interface created a pleasurable experience.</p>
    </section>
    <section class="review bg-merino">
        <blockquote>
            <p>{{ 'blockquote_2_text'|trans }}</p>
        </blockquote>
    </section>
    <section class="simple-text-block">
        <p>Their current workflow consists of three simple steps:</p>
        <p>Developers create new keys and fill the value for the base language. <br>Product Owners check and modify this value.  <br>Translators do their job and translate into the target language. <br>Using a translation management platform allowed Lucca to separate their responsibilities. Now developers don’t have to waste their time on each step of the process. Finally, by using the webhooks, translations are automatically updated on the developer's computer.</p>
    </section>
    <section class="features bg-emptiness low-paddings">
        <h4>{{ 'case_study_choose_title'|trans|raw }}</h4>
        <ul class="features-list"`>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_qa.svg')}}" alt="{{ 'case_study_features_title_1'|trans }}"></div>
                <strong class="title">{{ 'case_study_features_title_1'|trans }}</strong>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_api.svg')}}" alt="{{ 'case_study_features_title_2'|trans }}"></div>
                <strong class="title">{{ 'case_study_features_title_2'|trans }}</strong>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_sdk.svg')}}" alt="{{ 'case_study_features_title_3'|trans }}"></div>
                <strong class="title">{{ 'case_study_features_title_3'|trans }}</strong>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_inline_machine.svg')}}" alt="{{ 'case_study_features_title_4'|trans }}"></div>
                <strong class="title">{{ 'case_study_features_title_4'|trans }}</strong>
            </li>
        </ul>
    </section>
    <section class="review bg-quince">
        <blockquote>
            <p>{{ 'blockquote_3_text'|trans }}</p>
        </blockquote>
    </section>
   
    
{% endblock %}