{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'case_studies_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section class="posts">
        <article class="post large-post img-left">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <h2>{{ 'case_studies_post_1_title'|trans }}</h2>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
                <footer>
                    <a href="{{ path('case_study') }}" class="btn-primary btn-large">{{ 'case_studies_btn_read_more_text'|trans }}</a>
                </footer>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_01.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_01@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_01.jpg')}}" alt="{{ 'case_studies_post_1_title'|trans }}">
                </picture>
            </div>
        </article>
        <article class="post img-left">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_02.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_02@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_02.jpg')}}" alt="{{ 'case_studies_post_1_head'|trans }}">
                </picture>
            </div>
        </article>
        <article class="post img-left">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_03.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_03@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_03.jpg')}}" alt=" {{ 'case_studies_post_1_head'|trans }}">
                </picture>
            </div>
        </article>
        <article class="post large-post">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <h2>{{ 'case_studies_post_1_title'|trans }}</h2>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
                <footer>
                    <a href="{{ path('case_study') }}" class="btn-primary btn-large">{{ 'case_studies_btn_read_more_text'|trans }}</a>
                </footer>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_01.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_01@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_01.jpg')}}" alt="{{ 'case_studies_post_1_head'|trans }}">
                </picture>
            </div>
        </article>
        <article class="post">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_02.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_02@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_02.jpg')}}" alt="{{ 'case_studies_post_1_head'|trans }}">
                </picture>
            </div>
        </article>
        <article class="post">
            <div class="text">
                <header>
                    {{ 'case_studies_post_1_head'|trans }}
                    <img src="/" data-src="{{ asset('build/icon_slack.svg') }}" alt="Slack">
                </header>
                <p>{{ 'case_studies_post_1_text'|trans }}</p>
                <div class="author">
                    <span class="title">{{ 'case_studies_post_1_author_title'|trans }}</span>
                    <p>{{ 'case_studies_post_1_author_text'|trans }}</p>
                </div>
            </div>
            <div class="visual">
                 <picture>
                    <data-src srcset="{{asset('build/post_03.jpg')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/post_03@2x.jpg')}} 2x"></data-src>
                    <data-img src="{{asset('build/post_03.jpg')}}" alt="{{ 'case_studies_post_1_head'|trans }}">
                </picture>
            </div>
        </article>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}