{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'collaborative_translation_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <div class="text">
            <h1 class="nowrap">{{ 'collaborative_translation_promo_title'|trans }}</h1>
            <p>{{ 'collaborative_translation_promo_text'|trans }}</p>
            <ul class="buttons rounds">
                <li><a href="#" class="btn-primary">{{ 'collaborative_translation_promo_button_1_text'|trans }}</a></li>
                <li><a href="#" class="btn">{{ 'collaborative_translation_promo_button_2_text'|trans }}</a></li>
            </ul>
        </div> 
        <picture class="image">
            <data-src srcset="{{asset('build/promo_07@mobile.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_07@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_07.jpg')}}" alt="{{ 'collaborative_translation_promo_title'|trans }}">
        </picture>
    </section>
    <section class="text-block align-center">
        <h2>{{ 'collaborative_translation_text_block_title'|trans }}</h2>
        <p>{{ 'collaborative_translation_text_block_text'|trans }}</p>
    </section>
    <section class="explanation">
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_08.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_08@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_08.png')}}" alt="{{ 'explanation_item_1_title'|trans }}">
                </picture>
            </div>
            <h4>{{ 'explanation_item_1_title'|trans }}</h4>
            <p>{{ 'explanation_item_1_text'|trans }}</p>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_09.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_09@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_09.png')}}" alt="{{ 'explanation_item_2_title'|trans }}">
                </picture>
            </div>
            <h4>{{ 'explanation_item_2_title'|trans }}</h4>
            <p>{{ 'explanation_item_2_text'|trans }}</p>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_10.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_10@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_10.png')}}" alt="{{ 'explanation_item_3_title'|trans }}">
                </picture>
            </div>
            <h4>{{ 'explanation_item_3_title'|trans }}</h4>
            <p>{{ 'explanation_item_3_text'|trans }}</p>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_11.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_11@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_11.png')}}" alt="{{ 'explanation_item_4_title'|trans }}">
                </picture>
            </div>
            <h4>{{ 'explanation_item_4_title'|trans }}</h4>
            <p>{{ 'explanation_item_4_text'|trans }}</p>
        </div>
    </section>
    <section id="boost">
        <h1>{{ 'boost_title'|trans }}</h1>
        <p class="subtitle">{{ 'boost_subtitle'|trans }}</p>
        <ul class="boost-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_developers.svg')}}"></div>  
                <h4>{{ 'boost_list_1_title'|trans }}</h4>
                <p>{{ 'boost_list_1_text'|trans }}</p> 
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_product.svg')}}"></div>  
                <h4>{{ 'boost_list_2_title'|trans }}</h4>
                <p>{{ 'boost_list_2_text'|trans }}</p> 
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_translations.svg')}}"></div>  
                <h4>{{ 'boost_list_3_title'|trans }}</h4>
                <p>{{ 'boost_list_3_text'|trans }}</p> 
            </li>
        </ul>
    </section>
    <section class="client-review">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}"></div>
            </footer>
        </blockquote>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}