{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'features_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <h1>{{ 'features_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'features_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="#" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section id="boost" class="bg-coral no-margin">
        <ul class="boost-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_developers.svg')}}" alt="{{ 'boost_list_1_title'|trans }}"></div>  
                <h4>{{ 'boost_list_1_title'|trans }}</h4>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_product.svg')}}" alt="{{ 'boost_list_2_title'|trans }}"></div>  
                <h4>{{ 'boost_list_2_title'|trans }}</h4>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_translations.svg')}}" alt="{{ 'boost_list_3_title'|trans }}"></div>  
                <h4>{{ 'boost_list_3_title'|trans }}</h4>
            </li>
        </ul>
    </section>
    <section class="features-details">
        <header>
            <h2>{{ 'features_details_block_1_title'|trans }}</h2>
            <p>{{ 'features_details_block_1_text'|trans }}</p>
            <a href="#" class="more">{{ 'features_details_block_1_link_more'|trans }}</a>
        </header>
        <div class="items">
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_01.svg')}}" alt="{{ 'features_details_block_1_item_1_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_1_item_1_title'|trans }}</strong>
                    <p>{{ 'features_details_block_1_item_1_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_02.svg')}}" alt="{{ 'features_details_block_1_item_2_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_1_item_2_title'|trans }}</strong>
                    <p>{{ 'features_details_block_1_item_2_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_03.svg')}}" alt="{{ 'features_details_block_1_item_3_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_1_item_3_title'|trans }}</strong>
                    <p>{{ 'features_details_block_1_item_3_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_04.svg')}}" alt="{{ 'features_details_block_1_item_4_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_1_item_4_title'|trans }}</strong>
                    <p>{{ 'features_details_block_1_item_4_text'|trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="client-review">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}" alt="Rebolut"></div>
            </footer>
        </blockquote>
    </section>
    <section class="features-details">
        <header>
            <h2>{{ 'features_details_block_2_title'|trans }}</h2>
            <p>{{ 'features_details_block_2_text'|trans }}</p>
            <a href="#" class="more">{{ 'features_details_block_2_link_more'|trans }}</a>
        </header>
        <div class="items">
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_05.svg')}}" alt="{{ 'features_details_block_2_item_1_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_2_item_1_title'|trans }}</strong>
                    <p>{{ 'features_details_block_2_item_1_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_06.svg')}}" alt="{{ 'features_details_block_2_item_2_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_2_item_2_title'|trans }}</strong>
                    <p>{{ 'features_details_block_2_item_2_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_07.svg')}}" alt="{{ 'features_details_block_2_item_3_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_2_item_3_title'|trans }}</strong>
                    <p>{{ 'features_details_block_2_item_3_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_08.svg')}}" alt="{{ 'features_details_block_2_item_4_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_2_item_4_title'|trans }}</strong>
                    <p>{{ 'features_details_block_2_item_4_text'|trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="client-review left-to-right bg-salmon">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}" alt="Revolut"></div>
            </footer>
        </blockquote>
    </section>
    <section class="features-details">
        <header>
            <h2>{{ 'features_details_block_3_title'|trans }}</h2>
            <p>{{ 'features_details_block_3_text'|trans }}</p>
            <a href="#" class="more">{{ 'features_details_block_3_link_more'|trans }}</a>
        </header>
        <div class="items">
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_09.svg')}}" alt="{{ 'features_details_block_3_item_1_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_3_item_1_title'|trans }}</strong>
                    <p>{{ 'features_details_block_3_item_1_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_10.svg')}}" alt="{{ 'features_details_block_3_item_2_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_3_item_2_title'|trans }}</strong>
                    <p>{{ 'features_details_block_3_item_2_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_11.svg')}}" alt="{{ 'features_details_block_3_item_3_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_3_item_3_title'|trans }}</strong>
                    <p>{{ 'features_details_block_3_item_3_text'|trans }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_features_12.svg')}}" alt="{{ 'features_details_block_3_item_4_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'features_details_block_3_item_4_title'|trans }}</strong>
                    <p>{{ 'features_details_block_3_item_4_text'|trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}