{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'github_integration_page_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <h1>{{ 'github_integration_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'github_integration_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="#" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section class="tools bg-wood">
        <h2>{{ 'github_intergation_tools_title'|trans|raw }}</h2>
        <ul class="tools-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_connect.svg')}}" alt="{{ 'github_intergation_tools_list_title_1'|trans }}"></div>
                <strong class="title">{{ 'github_intergation_tools_list_title_1'|trans }}</strong>
                <p>{{ 'github_intergation_tools_list_text_1'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_push.svg')}}" alt="{{ 'github_intergation_tools_list_title_2'|trans }}"></div>
                <strong class="title">{{ 'github_intergation_tools_list_title_2'|trans }}</strong>
                <p>{{ 'github_intergation_tools_list_text_2'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_translate_02.svg')}}" alt="{{ 'github_intergation_tools_list_title_3'|trans }}"></div>
                <strong class="title">{{ 'github_intergation_tools_list_title_3'|trans }}</strong>
                <p>{{ 'github_intergation_tools_list_text_3'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_pull_02.svg')}}" alt="{{ 'github_intergation_tools_list_title_4'|trans }}"></div>
                <strong class="title">{{ 'github_intergation_tools_list_title_4'|trans }}</strong>
                <p>{{ 'github_intergation_tools_list_text_4'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="additional-block bg-emptiness">
        <h2>{{ 'github_intergation_text_block_title'|trans|raw }}</h2>
        <ul class="additional-list">   
            <li>
                <strong class="title">{{ 'github_intergation_privacy_list_item_1_title'|trans|raw }}</strong>
                <p>{{ 'github_intergation_privacy_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                 <strong class="title">{{ 'github_intergation_privacy_list_item_2_title'|trans|raw }}</strong>
                <p>{{ 'github_intergation_privacy_list_item_2_text'|trans|raw }}</p>
            </li>
            <li>
                 <strong class="title">{{ 'github_intergation_privacy_list_item_3_title'|trans|raw }}</strong>
                <p>{{ 'github_intergation_privacy_list_item_3_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="info-block">
        <h2 class="heading-h1 align-center">{{ 'github_info_block_title'|trans|raw }}</h2>
        <div class="image align-center">
            <picture>
                <data-src srcset="{{asset('build/img_42.png')}}" media="(max-width: 768px)"></data-src>
                <data-src srcset="{{asset('build/img_42@2x.png')}} 2x"></data-src>
                <data-img src="{{asset('build/img_42.png')}}" alt="{{ 'github_info_block_title'|trans }}">
            </picture>
        </div>
        <div class="three-columns">
            <div class="col">
                <h3>{{ 'github_info_block_item_1_title'|trans }}</h3>
                <p>{{ 'github_info_block_item_1_text'|trans }}</p>
            </div>
            <div class="col">
                <h3>{{ 'github_info_block_item_2_title'|trans }}</h3>
                <p>{{ 'github_info_block_item_2_text'|trans }}</p>
            </div>
            <div class="col">
                <h3>{{ 'github_info_block_item_3_title'|trans }}</h3>
                <p>{{ 'github_info_block_item_3_text'|trans }}</p>
            </div>
        </div>
    </section>
    <section class="fuq">
        <h2>{{ 'github_integration_fuq_title'|trans|raw }}</h2>
        <div class="fuq-list">
            <div class="item">
                <div class="head">{{ 'github_integration_fuq_item_1_title'|trans|raw }}</div>
                <div class="text">{{ 'github_integration_fuq_item_1_text'|trans|raw }}</div>
            </div>
            <div class="item">
                <div class="head">{{ 'github_integration_fuq_item_2_title'|trans|raw }}</div>
                <div class="text">{{ 'github_integration_fuq_item_2_text'|trans|raw }}</div>
            </div>
            <div class="item">
                <div class="head">{{ 'github_integration_fuq_item_3_title'|trans|raw }}</div>
                <div class="text">{{ 'github_integration_fuq_item_3_text'|trans|raw }}</div>
            </div>
        </div>
    </section>
    <section class="connect bg-emptiness">
        <h2 class="align-center">{{ 'github_integration_connect_title'|trans|raw }}</h2>
        <ul class="integration-list">
            <li>
                <a href="{{ path('github_integration_page') }}">
                    <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_amazon.svg') }}" alt="Amazon S3"></span>
                    <strong>Amazon S3</strong>
                    <span>{{ 'integrations_list_item_text'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_android.svg') }}" alt="Android"></span>
                    <strong>Android</strong>
                    <span>{{ 'integrations_list_item_text'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_api.svg') }}" alt="API"></span>
                    <strong>API</strong>
                    <span>{{ 'integrations_list_item_text'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('asana_integration_page') }}">
                    <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_asana.svg') }}" alt="Asana"></span>
                    <strong>Asana</strong>
                    <span>{{ 'integrations_list_item_text'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_bitbucket.svg') }}" alt="Bitbucket"></span>
                    <strong>Bitbucket</strong>
                    <span>{{ 'integrations_list_item_text'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_cake_php.svg') }}" alt="Cake PHP"></span>
                    <strong>Cake PHP</strong>
                    <span>{{ 'integrations_list_item_text'|trans }}</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}