{% extends "base.html.twig" %}
{% block body %}
    <section id="promo" class="index">
        <picture class="image">
            <data-src srcset="{{asset('build/promo_01.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_01@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_01.png')}}" alt="{{ 'index_promo_title'|trans }}">
        </picture>
        <div class="text">
            <h1>{{ 'index_promo_title'|trans }}</h1>
            <p>{{ 'index_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="{{ path('signup_page') }}" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section id="prefered">
        <h2>{{ 'preferred_title'|trans }}</h2>
        <ul class="icons"`>
            <li><img src="/" data-src="{{ asset('build/slack.svg') }}" alt="Slack"></li>
            <li><img src="/" data-src="{{ asset('build/revolut.svg') }}" alt="Revolute"></li>
            <li><img src="/" data-src="{{ asset('build/stripe.svg') }}" alt="Stripe"></li>
            <li><img src="/" data-src="{{ asset('build/yelp.svg') }}" alt="Yelp"></li>
            <li><img src="/" data-src="{{ asset('build/lime.svg') }}" alt="Lime"></li>
            <li><img src="/" data-src="{{ asset('build/lemonade.svg') }}" alt="Lemonade"></li>
        </ul> 
    </section>
    <section id="presentation">
        <div class="block">
            <div class="text">
                <h2>{{ 'presentation_block_1_title'|trans }}</h2>
                <p>{{ 'presentation_block_1_text'|trans }}</p>
                <a href="#" class="more">{{ 'presentation_start_button'|trans }}</a>
            </div>
            <div class="visual">
                <video  autoplay muted loop playsinline>
                    <data-src src="{{asset('build/video_1.mp4')}}" type="video/mp4"></data-src>
                </video>
            </div>
        </div> 
        <div class="block">
            <div class="text">
                <h2>{{ 'presentation_block_2_title'|trans }}</h2>
                <p>{{ 'presentation_block_2_text'|trans }}</p>
                <a href="#" class="more">{{ 'presentation_start_button'|trans }}</a>
            </div>
            <div class="visual">
                <video  autoplay muted loop playsinline>
                    <data-src src="{{asset('build/video_2.mp4')}}" type="video/mp4"></data-src>
                </video>
            </div>
        </div>
        <div class="block">
            <div class="text">
                <h2>{{ 'presentation_block_3_title'|trans }}</h2>
                <p>{{ 'presentation_block_3_text'|trans }}</p>
                <a href="#" class="more">{{ 'presentation_start_button'|trans }}</a>
            </div>
            <div class="visual">
                <video  autoplay muted loop playsinline>
                    <data-src src="{{asset('build/video_3.mp4')}}" type="video/mp4"></data-src>
                </video>
            </div>
        </div>
        <div class="block">
            <div class="text">
                <h2>{{ 'presentation_block_4_title'|trans }}</h2>
                <p>{{ 'presentation_block_4_text'|trans }}</p>
                <a href="#" class="more">{{ 'presentation_start_button'|trans }}</a>
            </div>
            <div class="visual">
                <video  autoplay muted loop playsinline>
                    <data-src src="{{asset('build/video_3.mp4')}}" type="video/mp4"></data-src>
                </video>
            </div>
        </div>  
    </section>
    <section id="info">
        <h2>{{ 'info_title'|trans }}</h2>
        <ul class="info-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_websites.svg')}}" alt="{{ 'info_list_1_title'|trans }}"></div>
                <strong>{{ 'info_list_1_title'|trans }}</strong>
                <p>{{ 'info_list_1_text'|trans }}</p>
            </li>
            <li>
               <div class="visual"><img src="/" data-src="{{asset('build/icon_mobile.svg')}}" alt="{{ 'info_list_2_title'|trans }}"></div>
                <strong>{{ 'info_list_2_title'|trans }}</strong>
                <p>{{ 'info_list_2_text'|trans }}</p>
            </li>
            <li>
               <div class="visual"><img src="/" data-src="{{asset('build/icon_games.svg')}}" alt="{{ 'info_list_3_title'|trans }}"></div>
                <strong>{{ 'info_list_3_title'|trans }}</strong>
                <p>{{ 'info_list_3_text'|trans }}</p>
            </li>
            <li>
               <div class="visual"><img src="/" data-src="{{asset('build/icon_docs.svg')}}" alt="{{ 'info_list_4_title'|trans }}"></div>
                <strong>{{ 'info_list_4_title'|trans }}</strong>
                <p>{{ 'info_list_4_text'|trans }}</p>
            </li>
            <li>
               <div class="visual"><img src="/" data-src="{{asset('build/icon_market.svg')}}" alt="{{ 'info_list_5_title'|trans }}"></div>
                <strong>{{ 'info_list_5_title'|trans }}</strong>
                <p>{{ 'info_list_5_text'|trans }}</p>
            </li>
            <li>
               <div class="visual"><img src="/" data-src="{{asset('build/icon_iot.svg')}}" alt="{{ 'info_list_6_title'|trans }}"></div>
                <strong>{{ 'info_list_6_title'|trans }}</strong>
                <p>{{ 'info_list_6_text'|trans }}</p>
            </li>
        </ul>
    </section>
    <section id="boost">
        <h2 class="heading-h1">{{ 'boost_title'|trans }}</h2>
        <p class="subtitle">{{ 'boost_subtitle'|trans }}</p>
        <ul class="boost-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_developers.svg')}}" alt="{{ 'boost_list_1_title'|trans }}"></div>  
                <h4>{{ 'boost_list_1_title'|trans }}</h4>
                <p>{{ 'boost_list_1_text'|trans }}</p> 
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_product.svg')}}" alt="{{ 'boost_list_2_title'|trans }}"></div>  
                <h4>{{ 'boost_list_2_title'|trans }}</h4>
                <p>{{ 'boost_list_2_text'|trans }}</p> 
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_translations.svg')}}" alt="{{ 'boost_list_3_title'|trans }}"></div>  
                <h4>{{ 'boost_list_3_title'|trans }}</h4>
                <p>{{ 'boost_list_3_text'|trans }}</p> 
            </li>
        </ul>
    </section>
    <section class="client-review">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}" alt="Revolut"></div>
            </footer>
        </blockquote>
    </section>
    <section class="lovely">
        <div class="title">
            <h3>{{ 'lovely_title'|trans }}</h3>
        </div>
        <div class="raitings">
            <div class="col">
                <div class="logotype"><img src="/" data-src="{{asset('build/growd.svg')}}" alt="Growd"></div>
                <div class="raiting"><img src="/" data-src="{{asset('build/stars.svg')}}" alt="Stars"></div>
                <div class="text">{{ 'lovely_users'|trans }}</div>
            </div>
            <div class="col">
                <div class="logotype"><img src="/" data-src="{{asset('build/capterra.svg')}}" alt="Capterra"></div>
                <div class="raiting"><img src="/" data-src="{{asset('build/stars.svg')}}" alt="Stars"></div>
                <div class="text">{{ 'lovely_rates'|trans }}</div>
            </div>
        </div>
    </section>
    <section class="integrate">
        <h2 class="heading-h1">{{ 'integrate_title'|trans }}</h2>
        <p>{{ 'integrate_text'|trans }}</p>
        <div class="visual">
            <picture>
                <data-src srcset="{{asset('build/img_01_mobile.png')}}" media="(max-width: 768px)"></data-src>
                <data-src srcset="{{asset('build/img_01@2x.png')}} 2x"></data-src>
                <data-img src="{{asset('build/img_01.png')}}" alt="{{ 'integrate_title'|trans }}">
            </picture>
        </div>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}