{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'integrations_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <picture class="image mb-order-1">
            <source srcset="{{asset('build/promo_07.png')}}" media="(max-width: 768px)">
            <source srcset="{{asset('build/promo_07@2x.png')}} 2x">
            <img srcset="{{asset('build/promo_07.png')}}" alt="{{ 'integrations_promo_title'|trans }}">
        </picture>
        <h1>{{ 'integrations_promo_title'|trans }}</h1>
        <div class="text">
            <p>{{ 'integrations_promo_text'|trans }}</p>
        </div> 
    </section>
    <section class="two-columns">
        <aside class="sidebar">
            <div class="link-holder">   
                <a href="#" class="more">{{ 'integrations_all_link_text'|trans }}</a>
            </div>
            <a href="#" class="open-categories-menu">{{ 'integrations_open_categories_menu'|trans }}</a>
            <div class="categories-menu">
                <a href="#" class="mb-burger"><span>menu</span></a>
                <h3>{{ 'integrations_sidebar_title'|trans }}</h3>
                <nav class="menu">
                    <ul class="categories-switcher"> <!-- className needed for switching integration-list -->
                        <li><a href="#" data-category="type-1">{{ 'integrations_sidebar_menu_item_1'|trans }}</a></li>
                        <li><a href="#" data-category="type-2">{{ 'integrations_sidebar_menu_item_2'|trans }}</a></li>
                        <li><a href="#" data-category="type-3">{{ 'integrations_sidebar_menu_item_3'|trans }}</a></li>
                        <li><a href="#" data-category="type-4">{{ 'integrations_sidebar_menu_item_4'|trans }}</a></li>
                        <li><a href="#" data-category="type-5">{{ 'integrations_sidebar_menu_item_5'|trans }}</a></li>
                        <li><a href="#" data-category="type-6">{{ 'integrations_sidebar_menu_item_6'|trans }}</a></li>
                        <li><a href="#" data-category="type-7">{{ 'integrations_sidebar_menu_item_7'|trans }}</a></li>
                        <li><a href="#" data-category="type-8">{{ 'integrations_sidebar_menu_item_8'|trans }}</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="column">
            <ul class="integration-list">
                <li class="type-1">
                    <a href="{{ path('amazon_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_amazon.svg') }}" alt="Amazon S3"></span>
                        <strong>Amazon S3</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-2">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_android.svg') }}" alt="Android"></span>
                        <strong>Android</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_api.svg') }}" alt="API"></span>
                        <strong>API</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('asana_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_asana.svg') }}" alt="Asana"></span>
                        <strong>Asana</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1">
                    <a href="{{ path('bitbucket_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_bitbucket.svg') }}" alt="Bitbucket"></span>
                        <strong>Bitbucket</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_cake_php.svg') }}" alt="Cake PHP"></span>
                        <strong>Cake PHP</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_contentful.svg') }}" alt="Contentful"></span>
                        <strong>Contentful</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-4">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_datalog.svg') }}" alt="Datadog"></span>
                        <strong>Datadog</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_django.svg') }}" alt="Django"></span>
                        <strong>Django</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-2">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_docker.svg') }}" alt="Docker"></span>
                        <strong>Docker</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-3">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_email.svg') }}" alt="E-mail"></span>
                        <strong>E-mail</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-4">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_fastlane.svg') }}" alt="Fastlane"></span>
                        <strong>Fastlane</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-2">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_flowdock.svg') }}" alt="Flowdock"></span>
                        <strong>Flowdock</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-3">
                    <a href="{{ path('google_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_google_storage.svg') }}" alt="Google Storage"></span>
                        <strong>Google Storage</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-6">
                    <a href="{{ path('gitlab_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_gitlab.svg') }}" alt="GitLab"></span>
                        <strong>GitLab</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-3">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_grunt.svg') }}" alt="Grunt"></span>
                        <strong>Grunt</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-7">
                    <a href="{{ path('intercom_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_intercom.svg') }}" alt="Intercom"></span>
                        <strong>Intercom</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-8">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_ios.svg') }}" alt="iOS"></span>
                        <strong>iOS</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1 type-2">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_javascript.svg') }}" alt="JavaScript"></span>
                        <strong>JavaScript</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-3 type-4">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_jenkins.svg') }}" alt="Jenkins"></span>
                        <strong>Jenkins</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-7">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_jira.svg') }}" alt="Jira"></span>
                        <strong>Jira</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-8 type-2">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_lighthouse.svg') }}" alt="Lighthouse"></span>
                        <strong>Lighthouse</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-2">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_node_js.svg') }}" alt="Node.js"></span>
                        <strong>Node.js</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_ruby_on_rails.svg') }}" alt="Ruby on Rails"></span>
                        <strong>Ruby on Rails</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-5">
                    <a href="{{ path('slack_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_slack.svg') }}" alt="Slack"></span>
                        <strong>Slack</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-6">
                    <a href="#">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_timacamp.svg') }}" alt="TimeCamp"></span>
                        <strong>TimeCamp</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>

                <li class="type-3">
                    <a href="{{ path('trello_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_trello.svg') }}" alt="Trello"></span>
                        <strong>Trello</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
                <li class="type-1">
                    <a href="{{ path('zendesk_integration_page') }}">
                        <span class="icon"><img src="/" data-src="{{ asset('build/icon_int_zendesk.svg') }}" alt="Zendesk"></span>
                        <strong>Zendesk</strong>
                        <span>{{ 'integrations_list_item_text'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}