{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'legal_content_title'|trans }}
{% endblock %}
{% block body %}
    <section class="two-columns small">
        <aside class="sidebar">
            <a href="#" class="open-categories-menu">{{ 'legal_open_categories_menu'|trans }}</a>
            <div class="categories-menu">
                <a href="#" class="mb-burger"><span>menu</span></a>
                <h3>{{ 'legal_sidebar_title'|trans }}</h3>
                <nav class="menu">
                    <ul>
                        <li><a href="#">{{ 'legal_sidebar_menu_item_terms'|trans }}</a></li>
                        <li><a href="#">{{ 'legal_sidebar_menu_item_privacy'|trans }}</a></li>
                        <li><a href="#">{{ 'legal_sidebar_menu_item_security'|trans }}</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="column">
            <h1 claas="heading-h2">{{ 'legal_content_title'|trans }}</h1>
            <p>Revised: May 24, 2018</p>
            <p>Your privacy is important to us. Please review the privacy policy below for our commitment to safeguarding your privacy online.</p>
            <p>We, Lokalise, Inc., are the data controller and this document explains to you how we process information that you share with us and that we collect about you while you use our services, including the information that we process to support our services.</p>
            <p>Lokalise, Inc. is the data controller responsible for your information when you use our services &apm; products. This Privacy Policy applies to all of our services and products unless specified otherwise.</p>
            <p>Please familiarize yourself with our Terms of Service <a href="https://lokalise.com/privacy">(https://lokalise.com/privacy)</a> which in detail explains and describes the legal terms under which you use our services and products.</p>
            <br>
            <h5>Our Privacy Principles</h5>
            <p>We will process your personal information <b>lawfully</b>, <b>fairly and in a transparent</b> manner.</p>
            <p>Remember that you own your information and you can chose what to do with it. We will respect your legitimate wishes and act with your information accordingly.</p>
            <p>Information about you is collected only for <b>specified purposes</b> that are explicit and legitimate. We do not use your information for any other purposes other than to be able to work with you and to meet your needs. We will ask for your consent before using information for a purpose other than mentioned before.</p>
            <p>We will collect only <b>adequate and relevant</b> information that we need to provide our services to you. In some cases, you can provide us with additional information if you choose to do so.</p>
            <p>We can work with you only if you provide <b>accurate</b> and true information. From our side we will do our best to keep it up-to-date.</p>
            <p>As your information that you share with us is important to us and as we believe that our cooperation is based on mutual trust, we guarantee that your information is <b>safe with us</b>, we will protect it against any unauthorised or unlawful access, destruction or any other activities that may affect your privacy.</p>
            <p>We will retain your information only for <b>the time</b> you are using our services unless we have to keep that information for legitimate business or legal purpose.</p>
            <br>
            <h5>What Information Lokalise Collects</h5>
            <p>We must receive or collect some information about you to be able to provide you with our services and products. We also need some information to get in touch with you and market our services and products.</p>
            <p>Information about you can be divided in two groups:</p>
            <ol>
                <li><p>Information you provide to us: “personally identifiable information” or personal data (such as name and email address), and</p></li>
                <li><p>Information that is automatically collected: “aggregate information” (such as frequency of visits to Site, Site pages most frequently accessed, browser type).</p></li>
            </ol>
            <p>Personally identifiable information is any piece of information which can potentially be used to uniquely identify, contact, or locate a user. We need this information so we can interact with each other – we can provide our services & products, but you receive them in quality and according to your needs. We need this information so that we can enter in legal relationships. You give this information, for example, by signing up in our Site or paying for the service.</p>
            <p>Aggregate information is non-personally identifiable/anonymous information about users of the Site. Aggregate information is information that you give to us by using our Site or products. Aggregate information is used in a collective manner and no single person can be identified by that compiled information.</p>
            <p>Information is collected from you when you register on our site, place an order or fill out a form. Keep in mind that some information we need is necessary for us to provide our service at all and if you refrain from providing it to us, we cannot provide the service adequately. Any data Lokalise request that is not required will be specified as voluntary or optional. You can choose to give us this information or you can refrain from providing additional information to us and you will not get any negative consequences for it.</p>
            <p>If you have subscribed to our newsletter, please be informed that Lokalise is the data controller of your personal data. Your data will be processed in order to send you newsletters about improvement and development of Lokalise products, new offers and services. In this regard your personal data will be processed according to the consent that you gave us and your personal data will be stored until your consent is revoked by you by unsubscribing from our newsletter. Please note that you are not obliged to provide your personal data. Consenting to processing personal data in order to receive newsletter is voluntary and refusing to consent does not bring any consequences.</p>
            <br>
            <h5>How and What for Lokalise Uses the Information</h5>
            <p>We use the information that you provide to us and that we collect as you use our site to provide, maintain, protect and improve services that we offer as well as to identify our users and protect ourselves. We keep a record of your activities in the Site, products that you used and our communication. We do this to be sure that we provide you with exactly the product that you need and to be able to solve any issues you might be facing.</p>
            <p>We may combine personally identifiable information and aggregate information to provide you with better use of our Site as well as to improve the quality of our products &amp; services.</p>
            <p><b>Lokalise may use the personally identifiable information you submit to us for any purposes related to Lokalise business as well to:</b></p>
            <ul>
                <li>generate statistical studies;</li>
                <li>conduct market research and planning by sending user surveys;</li>
                <li>improve services, information, and products;</li>
                <li>help a user complete a transaction, or provide services or customer support;</li>
                <li>communicate back to the user;</li>
                <li>update the user on services, information, and products;</li>
                <li>personalize a Site for the user;</li>
                <li>notify the user of any changes with a Site which may affect the user;</li>
                <li>enforce terms of use on a Site;</li>
                <li>allow the user to access services or otherwise engage in activities the user selects; and understand a user’s needs and create content that is relevant to the user.</li>
            </ul>
            <p><b>Our Legal Bases for Processing your Information:</b></p>
            <ul>
                <li>as necessary to fulfil our Terms &amp; Conditions;</li>
                <li>consistent with your consent, that you can revoke any time and if you do so we won’t use your information any more;</li>
                <li>as necessary to comply with our legal obligations;</li>
            </ul>
            <br>
            <h5>Transparency and Choice</h5>
            <p>As you and different other users uses our Site, products &amp; services, privacy concerns may vary. Lokalise aims to be clear about what information we collect and to provide you with choice how your information is used.</p>
            <p>You can review and update your information at any time. Keep in mind that it is very important to us to have genuine and up-to-date information about you.</p>
            <p>With your consent, we may send you personalized newsletters. You have a choice to unsubscribe from content that you do not want to receive. We will provide you with a simple and easy way to do that.</p>
            <p>You also may ask us to provide you with access to your information as well ask us to rectify or erase information relating to you or restrict processing of your information and object to processing. You have rights to data portability. You have the right to withdraw your consent at any time, but your withdrawal of your consent will not affect the processing done before.</p>
            <p>You have the right to file a complaint to the supervisory authority if you consider your rights violated.</p>
            <br>
            <h5>Sharing Your Personal Information</h5>
            <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company outside Lokalise and its controlled subsidiaries and affiliates for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>
            <p>We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with appropriate confidentiality and security measures.</p>
            <p>We may share your information with our partners, service providers and other companies outside Lokalise only if access or disclosure of the information is reasonably necessary to:</p>
            <ol>
                <li><p>Provide Services and products to you;</p></li>
                <li><p>Meet any applicable law, regulation, legal process or enforceable governmental request;</p></li>
                <li><p>Enforce applicable Terms of Service, including investigation of potential violations;</p></li>
                <li><p>Detect, prevent, or otherwise address fraud, security or technical issues;</p></li>
                <li><p>Protect against harm to the rights, property or safety of Lokalise, our users or the public as required or permitted by law.</p></li>
            </ol>
            <p>We processes personal information on our servers in many countries around the world. We may process your personal information on a server located outside the country where you live. We will not use servers outside the European Economic Area and European Union. If we do, we will guarantee that the parties shall enter into a binding agreement based on the applicable European Union model clauses (Commission Decision on standard contractual clauses for the transfer of data to third countries). Adherence to ”the Privacy Shield Framework”, adopted by the European Commission on 12 July 2016, form an alternative to the EU model clauses for the Data Processors located in the U.S.</p>
            <br>
            <h5>Cookies</h5>
            <p>When you interact with the Lokalise Website we strive to make that experience easy and meaningful. When you come to our site, our Web server sends a cookie to your computer. Cookies are files that Web browsers place on a computer’s hard drive and are used to tell us whether customers and visitors have visited the Site previously.</p>
            <p>We use these types of cookies:</p>
            <p><b>Necessary</b><br>	These cookies are essential in order to enable you to move around the website and use its features. Without these cookies services you have asked for cannot be provided. In addition, the contents of the website may be featured improperly and some features may not function.</p>
            <p><b>Statistics</b><br>These cookies collect anonymous statistical data about your visit of the website.</p>
            <p>Lokalise may from time to time engage third parties to track and analyse non-personally identifiable usage and volume statistical information from visitors to our site to help us administer our site and improve its quality. Such third parties may use cookies to help track visitor behaviour. Such cookies will not be used to associate individual site visitors to any personally identifiable information. All data collected by such third parties on behalf of Lokalise is used only to provide us with information on site usage and is not shared with any other third parties.</p>
            <p>Google Analytics cookies allow us to see information on website activities including, but not limited to page views, source, and time spent on our website. The information is depersonalized and is displayed as numbers, meaning it cannot be tracked back to individuals. Using Google Analytics we can see what content is popular on our website, and this helps us give you more of the things you enjoy reading and watching. We use Google AdWords code to see which pages helped lead our site visitors to fill out forms on our website. This allows us to make better use of our paid search budget. We use remarketing codes to log when visitors view specific pages, allowing us to provide targeted advertising in the future.</p>
            <p>You may also set your browser to block all cookies, including cookies associated with our services, or to indicate when we are setting a cookie. However, it is important to remember that many of our services may not function properly if your cookies are disabled.</p>
            <p>Upon entering the Site we will provide you with appropriate notice so you can manage your cookies.</p>
            <br>
            <h5>Third-Party Sites</h5>
            <p>The Lokalise Site may contain links to other web sites. Lokalise is not responsible for the privacy practices or the content of these other web sites. Customers and visitors will need to check the policy statement of these others sites to understand their policies. Customers and visitors who access a linked site may be disclosing their private information. It is the responsibility of the user to keep such information private and confidential. No information you provide through Lokalise’s Site will be shared with these Third-Party sites by Lokalise.</p>
            <br>
            <h5>Changes to this Privacy Policy</h5>
            <p>Lokalise reserve the right to modify this privacy policy at any time to reflect changes in our service and customer feedback. When changes are posted to this Policy, the “last updated” date at the top will be revised. If there are material changes to this statement or in how Lokalise will use your personal information, we will notify you either by prominently posting a notice of such changes prior to implementing the change or by directly sending you a notification. We encourage you to periodically review this statement to be informed of how Lokalise is protecting your information.</p>
            <br>
            <h5>Notice</h5>
            <p>Children under the age of 13 are not eligible to use our service and must not attempt to register with us and/ or submit any personal information to us. Young people between 13 and 17 should not send any information about themselves to anyone over the Internet (including to us) without asking their parents/legal guardians for permission beforehand.</p>
            <br>
            <h5>Transfer of Information</h5>
            <p>If Lokalise elects, in its reasonable discretion, to transfer ownership or control of the Site or Services to a third party, whether or not in the context of an acquisition, merger, or reorganization, you consent to the transfer of your personally identifiable information and non- personally identifiable information by Lokalise to that third party, provided that all use of your information by that third party remains subject to the terms of this Policy and any applicable requirements of the Privacy Shield.</p>
            <br>
            <h5>Contact Us</h5>
            <p>Lokalise welcomes your comments regarding privacy policy. Should you have any questions concerning Privacy Policy, please contact us by email privacy@lokalise.com.</p>
            <address>Our postal address is <br>
            Lokalise, Inc., <br>
            Suite 400, Wilmington, <br>
            Delaware DE 199808, <br>
            USA.
            </address>
        </div>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}