{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'login_title'|trans }}
{% endblock %}
{% block body %}
    <section class="form-block">
        <div class="visual">
            <picture class="">
                <data-src srcset="{{asset('build/img_login.png')}}" media="(max-width: 768px)"></data-src>
                <data-src srcset="{{asset('build/img_login@2x.png')}} 2x"></data-src>
                <data-img src="{{asset('build/img_login.png')}}" alt="Log in">
            </picture>
        </div>
        <div class="form">
            <h1>{{ 'login_title'|trans }}</h1>
            <form action="#" class="login-form">
                <fieldset>
                    <div class="form-row">
                        <button class="google">{{ 'login_button_google'|trans }}</button>
                        <button class="github">{{ 'login_button_github'|trans }}</button>
                        <button class="microsoft">{{ 'login_button_microsoft'|trans }}</button>
                    </div>
                    <div class="note"> 
                        <p>{{ 'login_note_text'|trans }}</p>
                    </div>
                    <div class="form-row">
                        <label>{{ 'login_lable_1_text'|trans }}</label>
                        <input type="text" placeholder="{{ 'login_input_1_placeholder'|trans }}">
                    </div>
                    <div class="form-row">
                        <label>{{ 'login_lable_2_text'|trans }}</label>
                        <input type="password" placeholder="password">
                    </div>
                    <div class="form-row">
                        <input type="submit" class="btn-primary" value="{{ 'login_button_text'|trans }}">
                    </div>
                    <div class="form-row align-center login-with">
                        <a href="#">{{ 'login_sso_text'|trans }}</a>
                    </div>
                    <div class="form-row">
                        <ul class="form-links">
                            <li><a href="{{ path('signup_page') }}">{{ 'login_register_text'|trans }}</a></li>
                            <li><a href="#">{{ 'login_forgot_text'|trans }}</a></li>
                        </ul>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}