{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'pricing_page_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <picture class="image mb-order-1">
            <data-src srcset="{{asset('build/promo_08.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_08@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_08.png')}}" alt="{{ 'pricing_promo_title'|trans }}">
        </picture>
        <h1>{{ 'pricing_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'pricing_promo_text'|trans }}</p>
        </div> 
    </section>
    <section class="price-table">
        <div class="table-nav">
            <ul>
                <li class="active"><span>{{ 'pricing_table_plan_title_1'|trans }}</span></li>
                <li><span>{{ 'pricing_table_plan_title_2'|trans }}</span></li>
                <li><span>{{ 'pricing_table_plan_title_3'|trans }}</span></li>
                <li><span>{{ 'pricing_table_plan_title_4'|trans }}</span></li>
            </ul>
        </div> 
        <div class="columns">
            <div class="col">
                 <div class="row"></div>
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_1'|trans }}</strong>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_2'|trans }}</strong>
                </div>
                <div class="row"></div>
                 <div class="row"></div>
                <div class="row align-top">
                    <strong class="row-title">{{ 'pricing_table_row_title_3'|trans }}</strong>
                </div>
                <div class="row"></div>
            </div>
            <div class="col plan-info">
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_1'|trans }}</strong>
                </div>
                <div class="row">
                    <span class="people">1+</span>
                    <strong class="title">{{ 'pricing_table_plan_title_1'|trans }}</strong>
                </div>
                <div class="row">
                    <p class="plan-info">{{ 'pricing_table_plan_text_1'|trans|raw }}</p>
                </div>
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_2'|trans }}</strong>
                </div>
                <div class="row">
                    <strong class="price">$9</strong>
                </div>
                <div class="row">
                    <p class="price-info">{{ 'pricing_table_price_text_1'|trans|raw }}</p>
                </div>
                <div class="row align-top">
                    <strong class="row-title">{{ 'pricing_table_row_title_3'|trans }}</strong>
                </div>
                <div class="row">
                    <ul class="info-list">
                        <li>{{ 'pricing_table_list_1_item_1_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_1_item_2_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_1_item_3_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_1_item_4_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_1_item_5_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_1_item_6_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_1_item_7_text'|trans }}</li>
                    </ul>
                </div>
                <div class="row">
                    <a href="#" class="btn-primary btn-large">{{ 'pricing_table_btn_start_text'|trans }}</a>
                </div>
            </div>
            <div class="col plan-info">
                <div class="row"></div>
                <div class="row">
                    <span class="people">5+</span>
                    <strong class="title">{{ 'pricing_table_plan_title_2'|trans }}</strong>
                </div>
                <div class="row">
                    <p class="plan-info">{{ 'pricing_table_plan_text_2'|trans }}</p>
                </div>
                 <div class="row"></div>
                <div class="row">
                    <strong class="price">$19</strong>
                </div>
                <div class="row">
                    <p class="price-info">{{ 'pricing_table_price_text_2'|trans|raw }}</p>
                </div>
                <div class="row"></div>
                <div class="row">
                    <strong class="info-title">{{ 'pricing_table_list_2_title'|trans|raw }}</strong>
                    <ul class="info-list">
                        <li>{{ 'pricing_table_list_2_item_1_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_2_item_2_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_2_item_3_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_2_item_4_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_2_item_5_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_2_item_6_text'|trans }}</li>
                    </ul>
                </div>
                <div class="row">
                    <a href="#" class="btn-primary btn-large">{{ 'pricing_table_btn_start_text'|trans }}</a>
                </div>
            </div>
             <div class="col plan-info">
                <div class="row"></div>
                <div class="row">
                    <span class="people">20+</span>
                    <strong class="title">{{ 'pricing_table_plan_title_3'|trans }}</strong>
                </div>
                <div class="row">
                    <p class="plan-info">{{ 'pricing_table_plan_text_3'|trans|raw }}</p>
                </div>
                <div class="row"></div>
                <div class="row">
                    <strong class="price">$29</strong>
                </div>
                <div class="row">
                    <p class="price-info">{{ 'pricing_table_price_text_3'|trans|raw }}</p>
                </div>
                <div class="row"></div>
                <div class="row">
                    <strong class="info-title">{{ 'pricing_table_list_3_title'|trans }}</strong>
                    <ul class="info-list">
                        <li>{{ 'pricing_table_list_3_item_1_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_3_item_2_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_3_item_3_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_3_item_4_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_3_item_5_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_3_item_6_text'|trans }}</li>
                    </ul>
                </div>
                <div class="row">
                    <a href="#" class="btn-primary btn-large">{{ 'pricing_table_btn_start_text'|trans }}</a>
                </div>
            </div>
            <div class="col plan-info">
                 <div class="row"></div>
                <div class="row">
                    <span class="people">50+</span>
                    <strong class="title">{{ 'pricing_table_plan_title_4'|trans }}</strong>
                </div>
                <div class="row">
                    <p class="plan-info">{{ 'pricing_table_plan_text_4'|trans|raw }}</p>
                </div>
                 <div class="row"></div>
                <div class="row">
                    <strong class="price">&nbsp;</strong>
                </div>
                <div class="row">
                    <p class="price-info">{{ 'pricing_table_price_text_4'|trans|raw }}</p>
                </div>
                 <div class="row"></div>
                <div class="row">
                    <strong class="info-title">{{ 'pricing_table_list_4_title'|trans }}</strong>
                    <ul class="info-list">
                        <li>{{ 'pricing_table_list_4_item_1_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_4_item_2_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_4_item_3_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_4_item_4_text'|trans }}</li>
                        <li>{{ 'pricing_table_list_4_item_5_text'|trans }}</li>
                    </ul>
                </div>
                <div class="row">
                    <a href="#" class="btn-primary btn-large">{{ 'pricing_table_item_4_btn_start_text'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="btn-more-holder">
            <a href="#">{{ 'pricing_btn_more_text'|trans }}</a>
        </div>
        <div class="columns no-borders">
            <div class="col">
                <div class="row"></div>
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_4'|trans }}</strong>
                </div>
                <div class="row"></div>
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_5'|trans }}</strong>
                </div>
            </div>
            <div class="col  plan-info">
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_4'|trans }}</strong>
                </div>
                <div class="row">
                    <p class="counter">{{ 'pricing_table_item_1_counter'|trans }}</p>
                </div>
                <div class="row">
                    <strong class="row-title">{{ 'pricing_table_row_title_5'|trans }}</strong>
                </div>
                <div class="row">
                    <span class="checked"></span>
                </div>
            </div>
            <div class="col plan-info">
                <div class="row"></div>
                <div class="row">
                    <p class="counter">{{ 'pricing_table_item_2_counter'|trans }}</p>
                </div>
                <div class="row"></div>
                <div class="row">
                    <span class="checked"></span>
                </div>
            </div>
            <div class="col plan-info">
                <div class="row"></div>
                <div class="row">
                    <p class="counter">{{ 'pricing_table_item_3_counter'|trans }}</p>
                </div>
                <div class="row"></div>
                <div class="row">
                    <span class="checked"></span>
                </div>
            </div>
            <div class="col plan-info">
                <div class="row"></div>
                <div class="row">
                    <p class="counter">{{ 'pricing_table_item_4_counter'|trans }}</p>
                </div>
                <div class="row"></div>
                <div class="row">
                    <span class="checked"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="privacy-block">
        <ul class="privacy-list">   
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_certificate.svg')}}" alt="{{ 'privacy_list_item_1_title'|trans }}"></div>
                <strong class="title">{{ 'privacy_list_item_1_title'|trans }}</strong>
                <p>{{ 'privacy_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_privaci.svg')}}" alt="{{ 'privacy_list_item_2_title'|trans }}"></div>
                 <strong class="title">{{ 'privacy_list_item_2_title'|trans }}</strong>
                <p>{{ 'privacy_list_item_2_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_gpr.svg')}}" alt="{{ 'privacy_list_item_3_title'|trans }}"></div>
                 <strong class="title">{{ 'privacy_list_item_3_title'|trans }}</strong>
                <p>{{ 'privacy_list_item_3_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="security-info">
        <ul class="security-info-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_monitored.png')}}" alt="{{ 'security_info_list_item_1_text'|trans|raw }}"></div>
                <p>{{ 'security_info_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_uptime.svg')}}" alt="{{ 'security_info_list_item_2_text'|trans|raw }}"></div>
                <p>{{ 'security_info_list_item_2_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_sound.svg')}}" alt="{{ 'security_info_list_item_3_text'|trans|raw }}"></div>
                <p>{{ 'security_info_list_item_3_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="fuq">
        <h2>{{ 'fuq_title'|trans|raw }}</h2>
        <div class="fuq-list">
            <div class="item">
                <div class="head">{{ 'fuq_item_1_title'|trans }}</div>
                <div class="text">{{ 'fuq_item_1_text'|trans|raw }}</div>
            </div>
            <div class="item">
                <div class="head">{{ 'fuq_item_2_title'|trans }}</div>
                <div class="text">{{ 'fuq_item_2_text'|trans|raw }}</div>
            </div>
            <div class="item">
                <div class="head">{{ 'fuq_item_3_title'|trans }}</div>
                <div class="text">{{ 'fuq_item_3_text'|trans|raw }}</div>
            </div>
            <div class="item">
                <div class="head">{{ 'fuq_item_4_title'|trans }}</div>
                <div class="text">{{ 'fuq_item_4_text'|trans|raw }}</div>
            </div>
        </div>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}