{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'product_for_developers_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <h1>{{ 'product_for_developers_promo_title'|trans }}</h1>
        <picture class="image">
            <data-src srcset="{{asset('build/promo_02.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_02@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_02.png')}}" alt="{{ 'product_for_developers_promo_title'|trans }}">
        </picture>
        <div class="text">
            <p>{{ 'product_for_developers_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="/signup" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section id="prefered">
        <h2>{{ 'preferred_title'|trans }}</h2>
        <ul class="icons"`>
            <li><img src="/" data-src="{{asset('build/slack.svg')}}" alt="Slack"></li>
            <li><img src="/" data-src="{{asset('build/revolut.svg')}}" alt="Revolut"></li>
            <li><img src="/" data-src="{{asset('build/stripe.svg')}}" alt="Stripe"></li>
            <li><img src="/" data-src="{{asset('build/yelp.svg')}}" alt="Yelp"></li>
            <li><img src="/" data-src="{{asset('build/lime.svg')}}" alt="Lime"></li>
            <li><img src="/" data-src="{{asset('build/lemonade.svg')}}" alt="Lemonade"></li>
        </ul> 
    </section>
    <section class="features">
        <h2 class="heading-h1">{{ 'product_for_developers_choose_title'|trans }}</h2>
        <ul class="features-list"`>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_api_tool.svg')}}" alt="{{ 'product_for_developers_features_title_1'|trans }}"></div>
                <strong class="title">{{ 'product_for_developers_features_title_1'|trans }}</strong>
                <p>{{ 'product_for_developers_features_text_1'|trans }}</p>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_brenching.svg')}}" alt="{{ 'product_for_developers_features_title_2'|trans }}"></div>
                <strong class="title">{{ 'product_for_developers_features_title_2'|trans }}</strong>
                <p>{{ 'product_for_developers_features_text_2'|trans }}</p>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_sdk.svg')}}" alt="{{ 'product_for_developers_features_title_3'|trans }}"></div>
                <strong class="title">{{ 'product_for_developers_features_title_3'|trans }}</strong>
                <p>{{ 'product_for_developers_features_text_3'|trans }}</p>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_platform.svg')}}" alt="{{ 'product_for_developers_features_title_4'|trans }}"></div>
                <strong class="title">{{ 'product_for_developers_features_title_4'|trans }}</strong>
                <p>{{ 'product_for_developers_features_text_4'|trans }}</p>
            </li>
        </ul>
        <a href="{{ path('features_page') }}" class="btn-primary btn-large">{{ 'features_btn_text'|trans }}</a>
    </section>
    <section class="report">
        <h2>{{ 'report_title'|trans }}</h2>
        <ul class="report-list">
            <li>
                <strong class="title">{{ 'report_list_title_1'|trans }}</strong>
                <p>{{ 'report_list_text_1'|trans }}</p>
            </li>
            <li>
                <strong class="title">{{ 'report_list_title_2'|trans }}</strong>
                <p>{{ 'report_list_text_2'|trans }}</p>
            </li>
            <li>
                <strong class="title">{{ 'report_list_title_3'|trans }}</strong>
                <p>{{ 'report_list_text_3'|trans }}</p>
            </li>
        </ul> 
    </section>
    <section class="client-review">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}" alt="Revolut"></div>
            </footer>
        </blockquote>
    </section>
    <section class="import">
        <h2>{{ 'import_title'|trans }}</h2>
        <div class="tabset">
            <div class="tabcontrol">
                <div class="holder swiper-wrapper">
                    <div class="item swiper-slide">
                        <div class="visual"><img src="/" data-src="{{asset('build/icon_apple.svg')}}" alt="{{ 'import_tab_title_1'|trans }}"></div>
                        <span class="title">{{ 'import_tab_title_1'|trans }}</span>
                    </div>
                    <div class="item swiper-slide">
                        <div class="visual"><img src="/" data-src="{{asset('build/icon_android.svg')}}" alt="{{ 'import_tab_title_2'|trans }}"></div>
                        <span class="title">{{ 'import_tab_title_2'|trans }}</span>
                    </div>
                    <div class="item swiper-slide">
                        <div class="visual"><img src="/" data-src="{{asset('build/icon_web.svg')}}" alt="{{ 'import_tab_title_3'|trans }}"></div>
                        <span class="title">{{ 'import_tab_title_3'|trans }}</span>
                    </div>
                    <div class="item swiper-slide">
                        <div class="visual"><img src="/" data-src="{{asset('build/icon_other.svg')}}" alt="{{ 'import_tab_title_4'|trans }}"></div>
                        <span class="title">{{ 'import_tab_title_4'|trans }}</span>
                    </div>
                </div>
            </div> 
            <div class="tabs">
                <div class="tab active">
                    <ul class="import-list">
                        <li class="checked">.strings</li>
                        <li class="checked">.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li>.json</li>
                        <li>.php</li>
                        <li>.xlf</li>
                        <li>.po</li>
                        <li>.pot</li>
                        <li>.js</li>
                        <li>.xliff</li>
                        <li>.yml</li>
                        <li>.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li>.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li>.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                    </ul>
                </div>
                <div class="tab">
                    <ul class="import-list">
                        <li class="checked">.strings</li>
                        <li class="checked">.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li class="checked">.json</li>
                        <li>.php</li>
                        <li>.xlf</li>
                        <li>.po</li>
                        <li class="checked">.pot</li>
                        <li>.js</li>
                        <li class="checked">.xliff</li>
                        <li>.yml</li>
                        <li class="checked">.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li>.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li>.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                        <li class="checked">.strings</li>
                        <li class="checked">.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li>.json</li>
                        <li>.php</li>
                        <li>.xlf</li>
                        <li>.po</li>
                        <li>.pot</li>
                        <li>.js</li>
                        <li>.xliff</li>
                        <li>.yml</li>
                        <li>.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li>.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li>.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                        <li class="checked">.strings</li>
                        <li class="checked">.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li>.json</li>
                        <li>.php</li>
                        <li>.xlf</li>
                        <li>.po</li>
                        <li>.pot</li>
                        <li>.js</li>
                        <li>.xliff</li>
                        <li>.yml</li>
                        <li>.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li>.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li>.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                        <li class="checked">.strings</li>
                        <li class="checked">.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li>.json</li>
                        <li>.php</li>
                        <li>.xlf</li>
                        <li>.po</li>
                        <li>.pot</li>
                        <li>.js</li>
                        <li>.xliff</li>
                        <li>.yml</li>
                        <li>.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li>.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li>.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                    </ul>
                </div>
                <div class="tab">
                    <ul class="import-list">
                        <li class="checked">.strings</li>
                        <li>.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li class="checked">.json</li>
                        <li>.php</li>
                        <li class="checked">.xlf</li>
                        <li>.po</li>
                        <li class="checked">.pot</li>
                        <li>.js</li>
                        <li class="checked">.xliff</li>
                        <li>.yml</li>
                        <li class="checked">.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li class="checked">.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li>.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                    </ul>
                </div>
                <div class="tab">
                    <ul class="import-list">
                        <li >.strings</li>
                        <li>.stringsdict</li>
                        <li class="checked">.xliff</li>
                        <li class="checked">.plist</li>
                        <li>.xml</li>
                        <li>.properties</li>
                        <li class="checked">.json</li>
                        <li>.php</li>
                        <li class="checked">.xlf</li>
                        <li>.po</li>
                        <li class="checked">.pot</li>
                        <li>.js</li>
                        <li class="checked">.xliff</li>
                        <li>.yml</li>
                        <li class="checked">.yaml</li>
                        <li>.ini</li>
                        <li>.csv</li>
                        <li class="checked">.xls</li>
                        <li>.xlsx</li>
                        <li>.resx</li>
                        <li>.stf</li>
                        <li>.ts</li>
                        <li>.i18n</li>
                        <li class="checked">.html</li>
                        <li>.htm</li>
                        <li>.docx</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="speed-up">
        <h2>{{ 'speed_up_title'|trans }}</h2>
        <ul class="speed-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_upload.svg')}}" alt="{{ 'speed_up_list_title_1'|trans }}"></div>
                <strong class="title">{{ 'speed_up_list_title_1'|trans }}</strong>
                <p>{{ 'speed_up_list_text_1'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_invite.svg')}}" alt="{{ 'speed_up_list_title_2'|trans }}"></div>
                <strong class="title">{{ 'speed_up_list_title_2'|trans }}</strong>
                <p>{{ 'speed_up_list_text_2'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_pull.svg')}}" alt="{{ 'speed_up_list_title_3'|trans }}"></div>
                <strong class="title">{{ 'speed_up_list_title_3'|trans }}</strong>
                <p>{{ 'speed_up_list_text_3'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="integrate">
        <h2 class="heading-h1">{{ 'integrate_title'|trans }}</h2>
        <p>{{ 'integrate_text'|trans }}</p>
        <div class="visual">
            <picture>
                <data-src srcset="{{asset('build/img_01.png')}}" media="(max-width: 768px)"></data-src>
                <data-src srcset="{{asset('build/img_01@2x.png')}} 2x"></data-src>
                <data-img src="{{asset('build/img_01.png')}}" alt="{{ 'integrate_title'|trans }}">
            </picture>
        </div>
    </section>
    <section class="on-board">
        <h2 class="heading-h1">{{ 'on_board_title'|trans|raw }}</h2>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_02.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_02@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_02.png')}}" alt="{{ 'on_board_item_1_title'|trans }}">
                </picture>
            </div>
            <div class="text">
                <h3>{{ 'on_board_item_1_title'|trans }}</h3>
                <p>{{ 'on_board_item_1_text'|trans }}</p>
                <a href="#" class="more">{{ 'on_board_more_link'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_03.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_03@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_03.png')}}" alt="{{ 'on_board_item_2_title'|trans }}">
                </picture>
            </div>
            <div class="text">
                <h3>{{ 'on_board_item_2_title'|trans }}</h3>
                <p>{{ 'on_board_item_2_text'|trans }}</p>
                <a href="#" class="more">{{ 'on_board_more_link'|trans }}</a>
            </div>
        </div> 
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}