{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'product_for_translators_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <h1>{{ 'product_for_translators_promo_title'|trans|raw }}</h1>
        <picture class="image">
            <data-src srcset="{{asset('build/promo_04.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_04@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_04.png')}}" alt="{{ 'product_for_translators_promo_title'|trans }}">
        </picture>
        <div class="text">
            <p>{{ 'product_for_translators_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="{{ path('signup_page') }}" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section id="prefered">
        <h2>{{ 'preferred_title'|trans }}</h2>
        <ul class="icons"`>
            <li><img src="/" data-src="{{asset('build/slack.svg')}}" alt="Slack"></li>
            <li><img src="/" data-src="{{asset('build/revolut.svg')}}" alt="Revolut"></li>
            <li><img src="/" data-src="{{asset('build/stripe.svg')}}" alt="Stripe"></li>
            <li><img src="/" data-src="{{asset('build/yelp.svg')}}" alt="Yelp"></li>
            <li><img src="/" data-src="{{asset('build/lime.svg')}}" alt="Lime"></li>
            <li><img src="/" data-src="{{asset('build/lemonade.svg')}}" alt="Lemonade"></li>
        </ul> 
    </section>
    <section class="features">
        <h1>{{ 'product_for_translators_features_title'|trans|raw }}</h1>
        <ul class="features-list"`>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_mobile_02.svg')}}" alt="{{ 'product_for_translators_features_title_1'|trans }}"></div>
                <strong class="title">{{ 'product_for_translators_features_title_1'|trans }}</strong>
                <p>{{ 'product_for_translators_features_text_1'|trans }}</p>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_web_02.svg')}}" alt="{{ 'product_for_translators_features_title_2'|trans }}"></div>
                <strong class="title">{{ 'product_for_translators_features_title_2'|trans }}</strong>
                <p>{{ 'product_for_translators_features_text_2'|trans }}</p>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_machine.svg')}}" alt="{{ 'product_for_translators_features_title_3'|trans }}"></div>
                <strong class="title">{{ 'product_for_translators_features_title_3'|trans }}</strong>
                <p>{{ 'product_for_translators_features_text_3'|trans }}</p>
            </li>
            <li>
                <div class="icon"><img src="/" data-src="{{asset('build/icon_translate.svg')}}" alt="{{ 'product_for_translators_features_title_4'|trans }}"></div>
                <strong class="title">{{ 'product_for_translators_features_title_4'|trans }}</strong>
                <p>{{ 'product_for_translators_features_text_4'|trans }}</p>
            </li>
        </ul>
        <a href="/features" class="btn-primary btn-large">{{ 'features_btn_text'|trans }}</a>
    </section>
    <section class="client-review">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}" alt="Revolut"></div>
            </footer>
        </blockquote>
    </section>
    <section class="report">
        <h2>{{ 'report_title'|trans }}</h2>
        <ul class="report-list">
            <li>
                <strong class="title">{{ 'report_list_title_1'|trans }}</strong>
                <p>{{ 'report_list_text_1'|trans }}</p>
            </li>
            <li>
                <strong class="title">{{ 'report_list_title_2'|trans }}</strong>
                <p>{{ 'report_list_text_2'|trans }}</p>
            </li>
            <li>
                <strong class="title">{{ 'report_list_title_3'|trans }}</strong>
                <p>{{ 'report_list_text_3'|trans }}</p>
            </li>
        </ul> 
    </section>
    <section class="speed-up no-background">
        <h2>{{ 'product_for_translators_speed_up_title'|trans }}</h2>
        <ul class="speed-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_join.svg')}}" alt="{{ 'speed_up_list_title_1'|trans }}"></div>
                <strong class="title">{{ 'speed_up_list_title_1'|trans }}</strong>
                <p>{{ 'speed_up_list_text_1'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_recieve.svg')}}" alt="{{ 'speed_up_list_title_2'|trans }}"></div>
                <strong class="title">{{ 'speed_up_list_title_2'|trans }}</strong>
                <p>{{ 'speed_up_list_text_2'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_start.svg')}}" alt="{{ 'speed_up_list_title_3'|trans }}"></div>
                <strong class="title">{{ 'speed_up_list_title_3'|trans }}</strong>
                <p>{{ 'speed_up_list_text_3'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="on-board">
        <h1>{{ 'on_board_title'|trans|raw }}</h1>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_02.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_02@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_02.png')}}" alt="{{ 'product_for_managers_on_board_item_1_title'|trans }}">
                </picture>
            </div>
            <div class="text">
                <h3>{{ 'product_for_managers_on_board_item_1_title'|trans }}</h3>
                <p>{{ 'product_for_managers_on_board_item_1_text'|trans }}</p>
                <a href="#" class="more">{{ 'on_board_more_link'|trans }}</a>
            </div>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_03.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_03@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_03.png')}}" alt="{{ 'product_for_managers_on_board_item_2_title'|trans }}">
                </picture>
            </div>
            <div class="text">
                <h3>{{ 'product_for_managers_on_board_item_2_title'|trans }}</h3>
                <p>{{ 'product_for_managers_on_board_item_2_text'|trans }}</p>
                <a href="#" class="more">{{ 'on_board_more_link'|trans }}</a>
            </div>
        </div> 
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}