{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'professional_translation_services_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <div class="text">
            <h1>{{ 'professional_translation_services_promo_title'|trans }}</h1>
            <p>{{ 'professional_translation_services_promo_text'|trans|raw }}</p>
        </div> 
    </section>
    <section class="explanation">
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_36.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_36@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_36.png')}}" alt="{{ 'explanation_item_30_title'|trans }}">
                </picture>
            </div>
            <h4>{{ 'explanation_item_30_title'|trans }}</h4>
            <p>{{ 'explanation_item_30_text'|trans }}</p>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_37.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_37@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_37.png')}}" alt="{{ 'explanation_item_31_title'|trans }}">
                </picture>
            </div>
            <h4>{{ 'explanation_item_31_title'|trans }}</h4>
            <p>{{ 'explanation_item_31_text'|trans }}</p>
        </div>
    </section>
    <section id="boost">
        <h1>{{ 'boost_title'|trans }}</h1>
        <p class="subtitle">{{ 'boost_subtitle'|trans }}</p>
        <ul class="boost-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_developers.svg')}}" alt="{{ 'boost_list_1_title'|trans }}"></div>  
                <h4>{{ 'boost_list_1_title'|trans }}</h4>
                <p>{{ 'boost_list_1_text'|trans }}</p> 
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_product.svg')}}" alt="{{ 'boost_list_2_title'|trans }}"></div>  
                <h4>{{ 'boost_list_2_title'|trans }}</h4>
                <p>{{ 'boost_list_2_text'|trans }}</p> 
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_translations.svg')}}" alt="{{ 'boost_list_3_title'|trans }}"></div>  
                <h4>{{ 'boost_list_3_title'|trans }}</h4>
                <p>{{ 'boost_list_3_text'|trans }}</p> 
            </li>
        </ul>
    </section>
    <section class="client-review">
        <picture class="photo">
            <data-src srcset="{{asset('build/photo_01.jpg')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/photo_01@2x.jpg')}} 2x"></data-src>
            <data-img src="{{asset('build/photo_01.jpg')}}" alt="{{ 'review_author'|trans }}">
        </picture>
        <blockquote>
            <p>{{ 'review_text'|trans|raw }}</p>
            <footer>
                <cite>{{ 'review_author'|trans }}</cite>
                <div class="logotype"><img src="/" data-src="{{asset('build/icon_revolut.svg')}}" alt="Revolut"></div>
            </footer>
        </blockquote>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}