{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'secutiry_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <picture class="image mb-order-1">
            <data-src srcset="{{asset('build/promo_05.png')}}" media="(max-width: 768px)"></data-src>
            <data-src srcset="{{asset('build/promo_05@2x.png')}} 2x"></data-src>
            <data-img src="{{asset('build/promo_05.png')}}" alt="{{ 'secutiry_promo_title'|trans }}">
        </picture>
        <h1>{{ 'secutiry_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'secutiry_promo_text'|trans|raw }}</p>
            <ul class="buttons">
                <li><a href="{{ path('signup_page') }}" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
            </ul>
        </div> 
    </section>
    <section class="privacy-block">
        <ul class="privacy-list">   
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_certificate.svg')}}" alt="{{ 'privacy_list_item_1_title'|trans }}"></div>
                <strong class="title">{{ 'privacy_list_item_1_title'|trans }}</strong>
                <p>{{ 'privacy_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_privaci.svg')}}" alt="{{ 'privacy_list_item_2_title'|trans }}"></div>
                 <strong class="title">{{ 'privacy_list_item_2_title'|trans }}</strong>
                <p>{{ 'privacy_list_item_2_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_gpr.svg')}}" alt="{{ 'privacy_list_item_3_title'|trans }}"></div>
                 <strong class="title">{{ 'privacy_list_item_3_title'|trans }}</strong>
                <p>{{ 'privacy_list_item_3_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="security-info">
        <ul class="security-info-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_monitored.png')}}" alt="{{ 'security_info_list_item_1_text'|trans|raw }}"></div>
                <p>{{ 'security_info_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_uptime.svg')}}" alt="{{ 'security_info_list_item_2_text'|trans|raw }}"></div>
                <p>{{ 'security_info_list_item_2_text'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_sound.svg')}}" alt="{{ 'security_info_list_item_3_text'|trans|raw }}"></div>
                <p>{{ 'security_info_list_item_3_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="security">
        <div class="items">
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_Information_security.svg')}}" alt="{ 'security_item_1_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_1_title'|trans }}</strong>
                    <p>{{ 'security_item_1_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_human_resources.svg')}}" alt="{{ 'security_item_2_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_2_title'|trans }}</strong>
                    <p>{{ 'security_item_2_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_access_control.svg')}}" alt="{{ 'security_item_3_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_3_title'|trans }}</strong>
                    <p>{{ 'security_item_3_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_cryptography.svg')}}" alt="{{ 'security_item_4_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_4_title'|trans }}</strong>
                    <p>{{ 'security_item_4_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_physical.svg')}}" alt="{{ 'security_item_5_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_5_title'|trans }}</strong>
                    <p>{{ 'security_item_5_text'|trans|raw }}</p>
                </div>
            </div>
        </div>
        <div class="text-block">
            <h2 class="align-center heading-h1">{{ 'security_text_block_title'|trans }}</h2>
            <div class="three-columns">
                <div class="col">
                    <strong class="title">{{ 'security_text_block_item_1_title'|trans }}</strong>
                    <p>{{ 'security_text_block_item_1_text'|trans|raw }}</p>
                </div>
                <div class="col">
                    <strong class="title">{{ 'security_text_block_item_2_title'|trans }}</strong>
                    <p>{{ 'security_text_block_item_2_text'|trans|raw }}</p>
                </div>
                <div class="col">
                    <strong class="title">{{ 'security_text_block_item_3_title'|trans }}</strong>
                    <p>{{ 'security_text_block_item_3_text'|trans|raw }}</p>
                </div>
                <div class="col">
                    <strong class="title">{{ 'security_text_block_item_4_title'|trans }}</strong>
                    <p>{{ 'security_text_block_item_4_text'|trans|raw }}</p>
                </div>
                <div class="col">
                    <strong class="title">{{ 'security_text_block_item_5_title'|trans }}</strong>
                    <p>{{ 'security_text_block_item_5_text'|trans|raw }}</p>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_system_development.svg')}}" alt="{{ 'security_item_6_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_6_title'|trans }}</strong>
                    <p>{{ 'security_item_6_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_supplier_relations.svg')}}" alt="{{ 'security_item_7_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_7_title'|trans }}</strong>
                    <p>{{ 'security_item_7_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_business_continuity.svg')}}" alt="{{ 'security_item_8_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_8_title'|trans }}</strong>
                    <p>{{ 'security_item_8_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_governance.svg')}}" alt="{{ 'security_item_9_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_9_title'|trans }}</strong>
                    <p>{{ 'security_item_9_text'|trans|raw }}</p>
                </div>
            </div>
            <div class="item">
                <div class="visual"><img src="/" data-src="{{asset('build/icon_what_happens.svg')}}" alt="{{ 'security_item_10_title'|trans }}"></div>
                <div class="text">
                    <strong class="title">{{ 'security_item_10_title'|trans }}</strong>
                    <p>{{ 'security_item_10_text'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="block-note align-center bg-exballium">
        <p>{{ 'secure_note_text'|trans|raw }}</p>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}