{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'singup_title'|trans }}
{% endblock %}
{% block body %}
    <section class="form-block">
        <div class="visual">
            <picture class="">
                <data-src srcset="{{asset('build/img_signup.png')}}" media="(max-width: 768px)"></data-src>
                <data-src srcset="{{asset('build/img_signup@2x.png')}} 2x"></data-src>
                <data-img src="{{asset('build/img_signup.png')}}" alt="Log in">
            </picture>
        </div>
        <div class="form">
            <h1>{{ 'singup_title'|trans }}</h1>
            <form action="#" class="login-form">
                <fieldset>
                    <div class="form-row">
                        <button class="google">{{ 'singup_button_google'|trans }}</button>
                        <button class="github">{{ 'singup_button_github'|trans }}</button>
                        <button class="microsoft">{{ 'singup_button_microsoft'|trans }}</button>
                    </div>
                    <div class="note"> 
                        <p>{{ 'singup_note_text'|trans }}</p>
                    </div>
                    <div class="form-row">
                        <label>{{ 'singup_lable_1_text'|trans }}</label>
                        <input type="text" placeholder="{{ 'singup_input_1_placeholder'|trans }}">
                    </div>
                    <div class="form-row">
                        <label>{{ 'singup_lable_2_text'|trans }}</label>
                        <input type="email" placeholder="{{ 'singup_input_2_placeholder'|trans }}">
                    </div>
                    <div class="form-row">
                        <label>{{ 'singup_lable_3_text'|trans }}</label>
                        <input type="password" placeholder="password">
                    </div>
                    <div class="form-row privacy">
                        <p>{{ 'signup_privacy_text'|trans|raw }}</p>
                    </div>
                    <div class="form-row">
                        <input type="submit" class="btn-primary" value="{{ 'singup_button_text'|trans }}">
                    </div>
                    <div class="form-row align-center singup-with">
                        <a href="#">{{ 'singup_sso_text'|trans }}</a>
                    </div>
                    <div class="form-row">
                        <ul class="form-links align-center">
                            <li>Already have an account? <a href="{{ path('login_page') }}">Log in</a>.</li>
                        </ul>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}