{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'slack_integration_page_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <h1>{{ 'slack_integration_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'slack_integration_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="#" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section class="tools bg-wood">
        <h2>{{ 'slack_intergation_tools_title'|trans|raw }}</h2>
        <ul class="tools-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_connect.svg')}}" alt="{{ 'slack_intergation_tools_list_title_1'|trans }}"></div>
                <strong class="title">{{ 'slack_intergation_tools_list_title_1'|trans }}</strong>
                <p>{{ 'slack_intergation_tools_list_text_1'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_select.svg')}}" alt="{{ 'slack_intergation_tools_list_title_2'|trans }}"></div>
                <strong class="title">{{ 'slack_intergation_tools_list_title_2'|trans }}</strong>
                <p>{{ 'slack_intergation_tools_list_text_2'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_choose.svg')}}" alt="{{ 'slack_intergation_tools_list_title_3'|trans }}"></div>
                <strong class="title">{{ 'slack_intergation_tools_list_title_3'|trans }}</strong>
                <p>{{ 'slack_intergation_tools_list_text_3'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="additional-block bg-emptiness">
        <h2>{{ 'slack_intergation_text_block_title'|trans|raw }}</h2>
        <ul class="additional-list">   
            <li>
                <strong class="title">{{ 'slack_intergation_privacy_list_item_1_title'|trans|raw }}</strong>
                <p>{{ 'slack_intergation_privacy_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                 <strong class="title">{{ 'slack_intergation_privacy_list_item_2_title'|trans|raw }}</strong>
                <p>{{ 'slack_intergation_privacy_list_item_2_text'|trans|raw }}</p>
            </li>
            <li>
                 <strong class="title">{{ 'slack_intergation_privacy_list_item_3_title'|trans|raw }}</strong>
                <p>{{ 'slack_intergation_privacy_list_item_3_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="fuq">
        <h2>{{ 'slack_integration_fuq_title'|trans|raw }}</h2>
        <div class="fuq-list">
            <div class="item">
                <div class="head">{{ 'slack_integration_fuq_item_1_title'|trans }}</div>
                <div class="text">{{ 'slack_integration_fuq_item_1_text'|trans|raw }}</div>
            </div>
            <div class="item">
                <div class="head">{{ 'slack_integration_fuq_item_2_title'|trans }}</div>
                <div class="text">{{ 'slack_integration_fuq_item_2_text'|trans|raw }}</div>
            </div>
        </div>
    </section>
    <section class="managment bg-emptiness">
        <h2 class="align-center">{{ 'slack_intergation_managment_title'|trans|raw }}</h2>
        <ul class="app-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_asana_02.svg')}}" alt="Asana"></div>
                <strong class="title">Asana</strong>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_trello.svg')}}" alt="Trello"></div>
                <strong class="title">Trello</strong>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_jira.svg')}}" alt="Jira"></div>
                <strong class="title">Jira</strong>
            </li>
        </ul> 
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}