{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'team_promo_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <picture class="image mb-order-1">
            <data-img src="{{asset('build/hello_animation.gif')}}" width="276" alt="{{ 'team_promo_title'|trans }}">
        </picture>
        <h1>{{ 'team_promo_title'|trans }}</h1>
        <div class="text">
            <p>{{ 'team_promo_text'|trans }}</p>
        </div> 
    </section>
    <section class="report low-paddings">
        <h2>{{ 'team_report_title'|trans }}</h2>
        <ul class="report-list">
            <li>
                <strong class="title">{{ 'report_list_title_1'|trans }}</strong>
                <p>{{ 'report_list_text_1'|trans }}</p>
            </li>
            <li>
                <strong class="title">{{ 'report_list_title_2'|trans }}</strong>
                <p>{{ 'report_list_text_2'|trans }}</p>
            </li>
            <li>
                <strong class="title">{{ 'report_list_title_3'|trans }}</strong>
                <p>{{ 'report_list_text_3'|trans }}</p>
            </li>
        </ul> 
    </section>
    <section class="team-block">
        <ul class="team-list">
            <li>
                <div class="photo">
                    <picture>
                        <data-src srcset="{{asset('build/photo_02.jpg')}}" media="(max-width: 768px)"></data-src>
                        <data-src srcset="{{asset('build/photo_02@2x.jpg')}} 2x"></data-src>
                        <data-img src="{{asset('build/photo_02.jpg')}}" alt="{{ 'team_list_item_1_name'|trans }}">
                    </picture>
                </div>
                <strong class="name">{{ 'team_list_item_1_name'|trans }}</strong>
                <p>{{ 'team_list_item_1_post'|trans }}</p>
            </li>
            <li>
                <div class="photo">
                    <picture>
                        <data-src srcset="{{asset('build/photo_03.jpg')}}" media="(max-width: 768px)"></data-src>
                        <data-src srcset="{{asset('build/photo_03@2x.jpg')}} 2x"></data-src>
                        <data-img src="{{asset('build/photo_03.jpg')}}" alt="{{ 'team_list_item_2_name'|trans }}">
                    </picture>
                </div>
                <strong class="name">{{ 'team_list_item_2_name'|trans }}</strong>
                <p>{{ 'team_list_item_2_post'|trans }}</p>
            </li>
            <li>
                <div class="photo">
                    <picture>
                        <data-src srcset="{{asset('build/photo_04.jpg')}}" media="(max-width: 768px)"></data-src>
                        <data-src srcset="{{asset('build/photo_04@2x.jpg')}} 2x"></data-src>
                        <data-img src="{{asset('build/photo_04.jpg')}}" alt="{{ 'team_list_item_3_name'|trans }}">
                    </picture>
                </div>
                <strong class="name">{{ 'team_list_item_3_name'|trans }}</strong>
                <p>{{ 'team_list_item_3_post'|trans }}</p>
            </li>
            <li>
                <div class="photo">
                    <picture>
                        <data-src srcset="{{asset('build/photo_05.jpg')}}" media="(max-width: 768px)"></data-src>
                        <data-src srcset="{{asset('build/photo_05@2x.jpg')}} 2x"></data-src>
                        <data-img src="{{asset('build/photo_05.jpg')}}" alt="{{ 'team_list_item_4_name'|trans }}">
                    </picture>
                </div>
                <strong class="name">{{ 'team_list_item_4_name'|trans }}</strong>
                <p>{{ 'team_list_item_4_post'|trans }}</p>
            </li>
            <li>
                <div class="photo">
                    <picture>
                        <data-src srcset="{{asset('build/photo_06.jpg')}}" media="(max-width: 768px)"></data-src>
                        <data-src srcset="{{asset('build/photo_06@2x.jpg')}} 2x"></data-src>
                        <data-img src="{{asset('build/photo_06.jpg')}}" alt="{{ 'team_list_item_5_name'|trans }}">
                    </picture>
                </div>
                <strong class="name">{{ 'team_list_item_5_name'|trans }}</strong>
                <p>{{ 'team_list_item_5_post'|trans }}</p>
            </li>
            <li>
                <div class="photo">
                    <picture>
                        <data-src srcset="{{asset('build/photo_07.jpg')}}" media="(max-width: 768px)"></data-src>
                        <data-src srcset="{{asset('build/photo_07@2x.jpg')}} 2x"></data-src>
                        <data-img src="{{asset('build/photo_07.jpg')}}" alt="{{ 'team_list_item_6_name'|trans }}">
                    </picture>
                </div>
                <strong class="name">{{ 'team_list_item_6_name'|trans }}</strong>
                <p>{{ 'team_list_item_6_post'|trans }}</p>
            </li>
        </ul>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}