{% extends "base.html.twig" %}
{% block title %}
{{ 'header_logotype'|trans }} | {{ 'zendesk_support_integration_page_title'|trans }}
{% endblock %}
{% block body %}
    <section id="promo">
        <h1>{{ 'zendesk_support_integration_promo_title'|trans|raw }}</h1>
        <div class="text">
            <p>{{ 'zendesk_support_integration_promo_text'|trans }}</p>
            <ul class="buttons">
                <li><a href="#" class="btn-primary btn-large">{{ 'index_promo_btn_try'|trans }}</a></li>
                <li><a href="#" class="btn btn-large">{{ 'index_promo_btn_demo'|trans }}</a></li>
            </ul>
            <p class="note">{{ 'index_promo_note_text'|trans }}</p>
        </div> 
    </section>
    <section class="tools bg-wood">
        <h2>{{ 'zendesk_support_intergation_tools_title'|trans|raw }}</h2>
        <ul class="tools-list">
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_free.svg')}}" alt="{{ 'zendesk_support_intergation_tools_list_title_1'|trans|raw }}"></div>
                <strong class="title">{{ 'zendesk_support_intergation_tools_list_title_1'|trans|raw }}</strong>
                <p>{{ 'zendesk_support_intergation_tools_list_text_1'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_instant.svg')}}" alt="{{ 'zendesk_support_intergation_tools_list_title_2'|trans|raw }}"></div>
                <strong class="title">{{ 'zendesk_support_intergation_tools_list_title_2'|trans|raw }}</strong>
                <p>{{ 'zendesk_support_intergation_tools_list_text_2'|trans|raw }}</p>
            </li>
            <li>
                <div class="visual"><img src="/" data-src="{{asset('build/icon_no_register.svg')}}" alt="{{ 'zendesk_support_intergation_tools_list_title_3'|trans|raw }}"></div>
                <strong class="title">{{ 'zendesk_support_intergation_tools_list_title_3'|trans|raw }}</strong>
                <p>{{ 'zendesk_support_intergation_tools_list_text_3'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="estabilish">
        <h2 class="heading-h1">{{ 'zendesk_support_intergation_estabilish_title'|trans|raw }}</h2>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_44.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_44@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_44.png')}}" alt="{{ 'zendesk_support_intergation_estabilish_title'|trans }}">
                </picture>
            </div>
            <div class="text large">
                <p>{{ 'zendesk_support_intergation_estabilish_item_1_text'|trans|raw }}</p>
            </div>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_44.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_44@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_44.png')}}" alt="{{ 'zendesk_support_intergation_estabilish_title'|trans }}">
                </picture>
            </div>
            <div class="text large">
                <p>{{ 'zendesk_support_intergation_estabilish_item_2_text'|trans|raw }}</p>
            </div>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_44.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_44@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_44.png')}}" alt="{{ 'zendesk_support_intergation_estabilish_title'|trans }}">
                </picture>
            </div>
            <div class="text large">
                <p>{{ 'zendesk_support_intergation_estabilish_item_3_text'|trans|raw }}</p>
            </div>
        </div>
        <div class="item">
            <div class="visual">
                <picture>
                    <data-src srcset="{{asset('build/img_44.png')}}" media="(max-width: 768px)"></data-src>
                    <data-src srcset="{{asset('build/img_44@2x.png')}} 2x"></data-src>
                    <data-img src="{{asset('build/img_44.png')}}" alt="{{ 'zendesk_support_intergation_estabilish_title'|trans }}">
                </picture>
            </div>
            <div class="text large">
                <p>{{ 'zendesk_support_intergation_estabilish_item_4_text'|trans|raw }}</p>
            </div>
        </div>
    </section>
    <section class="additional-block bg-emptiness">
        <h2>{{ 'zendesk_support_intergation_text_block_title'|trans|raw }}</h2>
        <ul class="additional-list">   
            <li>
                <strong class="title">{{ 'zendesk_support_intergation_privacy_list_item_1_title'|trans|raw }}</strong>
                <p>{{ 'zendesk_support_intergation_privacy_list_item_1_text'|trans|raw }}</p>
            </li>
            <li>
                 <strong class="title">{{ 'zendesk_support_intergation_privacy_list_item_2_title'|trans|raw }}</strong>
                <p>{{ 'zendesk_support_intergation_privacy_list_item_2_text'|trans|raw }}</p>
            </li>
        </ul>
    </section>
    <section class="try-now">
        <h2 class="heading-h1">{{ 'try_title'|trans }}</h2>
        <p>{{ 'try_text'|trans }}</p>
        <a href="{{ path('signup_page') }}" class="btn-secondary btn-large">{{ 'try_link'|trans }}</a>
    </section>
{% endblock %}